@import '../lib/breakpoint';

.content.our-platform {
	background: $white;
}

.content.our-platform {

	// .hero-container {
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// 	background-image: url('/assets/img/our_platform/our_platform_hero.jpg');
	// 	background-size: cover;
	// }

	.hero-video-container .wistia-embed {
		top: 0;
	}

	.hero-container section, .body-container section {
		@include breakpoint($breakpoint-desktop) {
			min-height: 600px;
		}
	}

	.hero {
		.copy.left, .copy.right {
			@include span(10 of 12 last);
			@include prefix(1 of 12);
			@include suffix(1 of 12);
		}
		.icon {
			display: none;
		}
		.copy.left {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: left;
		}
		p {
			line-height: 1.4em;
		}
		.copy.right {
			display: none;
		}
		@include breakpoint($breakpoint-desktop) {
			.copy {
				display: none;
				padding-top: 60px;
				padding-bottom: 60px;
				&.left {
					@include span(10 of 24);
					@include prefix(1 of 24);
					@include suffix(1 of 24);
					text-align: left;
				}
				&.right {
					display: block;
					@include span(6 of 12 last);
					@include prefix(0);
					@include suffix(0);
					text-align: center;
				}
			}
			h1 {
				font-size: 80px;
				padding: 0;
				margin: 1em 0;
				// margin-top:
			}
			p {
				font-size: 24px;
				line-height: 1.4em;
				font-family: $type-serif;
			}
			img {
				margin: 1em 0;
			}
			.icon {
				display: inline-block;
			}
		}
	}

	.sub-nav-container {
		display: none;
		&.enabled {
			position: fixed;
			z-index: 10;
		}
	}

	.sub-nav {
		.home a {
			@include link($orange);
		}
		li {
			@include span(1 of 9);
			text-align: center;
			&:nth-of-type(1) {
				text-align: left;
			}
			&:nth-of-type(9) {
				@include span(1 of 9 last);
			}
		}
	}

	.body {
		h2 {
			color: $black;
			text-transform: none;
			text-align: left;
		}
		.image {
			min-height: 200px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.right {
			@include span(10 of 12 last);
			@include prefix(1 of 12);
			@include suffix(1 of 12);
		}
		.highlight {
			font-family: $type-serif;
			font-size: 24px;
			line-height: 1.25em;
		}
		ul {
			padding-left: 0;
			list-style-type: none;
			border-bottom: 1px solid $lightgray;
			li {
				border-top: 1px solid $lightgray;
			}
			a {
				@include link($blue);
				display: inline-block;
				padding: 1em 0;
				width: 100%;
			}
			.icon {
				margin-right: 1em;
			}
			.icon-right {
				float: right;
				margin-right: 0;
			}
		}
		@include breakpoint($breakpoint-desktop) {
			h2 {
				margin: 4em 0;
			}
			.copy, .image {
				// min-height: 900px;
				margin-bottom: 0;
			}

			.left {
				@include span(6 of 12);
			}
			.right {
				@include span(4 of 12 last);
				@include prefix(1 of 12);
				@include suffix(1 of 12);
			}
		}
	}
}

.content.our-platform {
	#customize .image {
		background-image: url('/assets/img/our_platform/customize_highlight.jpg');
	}
	#planning .image {
		background-image: url('/assets/img/our_platform/planning_highlight.jpg');
	}
	#briefing .image {
		background-image: url('/assets/img/our_platform/briefing_highlight.jpg');
	}
	#sourcing .image {
		background-image: url('/assets/img/our_platform/sourcing_highlight.jpg');
	}
	#production .image {
		background-image: url('/assets/img/our_platform/production_highlight.jpg');
	}
	#distribution .image {
		background-image: url('/assets/img/our_platform/distribution_highlight.jpg');
	}
	#monitoring .image {
		background-image: url('/assets/img/our_platform/monitoring_highlight.jpg');
	}
	#analysis .image {
		background-image: url('/assets/img/our_platform/analysis_highlight.jpg');
	}
}

.content.our-platform {
	overflow-x: hidden;
	.panel-container {
		position: relative;
		overflow: hidden;
		height: 100%;
	}
	.panel-container-footer {
		overflow: auto;
	}
}
