{
    "globals": {
        "Modernizr": true,
        "isWatching": true,
        "$": true,
        "enquire": true,
        "_": true,
        "setFullFrame": true,
    },
    "extends": "./node_modules/eslint-config-percolate/.eslintrc",
}
