{
    "globals": {
        "Modernizr": true,
        "isWatching": true,
        "$": true,
        "enquire": true,
        "_": true,
    },
    "extends": "./node_modules/eslint-config-percolate/.eslintrc",
    "rules": {
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "dot-notation": 0,
    },
}
