.body {
	.copy {
		@include break;
		@include breakpoint($breakpoint-tablet) {
			&.third {
				@include span(3 of 6 nobreak);
				&:nth-child(2n) {
					@include span(3 of 6 last);
				}
			}
		}
		@include breakpoint($breakpoint-desktop) {
			@include span(full last nobreak);
			.row {
				@include break;
			}
			&.left {
				@include span(3 of 6);
			}
			&.right {
				@include span(3 of 6 last);
			}
			&.third {
				@include span(2 of 6);
				&:nth-child(2n) {
					@include span(2 of 6);
				}
				&:nth-child(3n), &.last {
					@include span(2 of 6 last);
				}
			}
			&.two-thirds {
				@include span(4 of 6 last);
				@include suffix(2 of 6);
			}
		}
	}
}

.body {
	.copy {
		margin-bottom: $spacing-medium;
		.full {
			width: 100%;
			height: auto;
		}
		&.center {
			text-align: center;
		}
		&.flush {
			margin: 0;
		}
	}
	p {
		color: $midgray;
		font-size: 16px;
		font-family: $type-base;
		line-height: 1.5em;
	}
	h1 {
		color: $orange;
	}
	h3 {
		margin: $spacing-xmedium 0;
	}
	.title {
		text-align: left;
		text-transform: uppercase;
		color: $orange;
	}
	.highlight {
		color: $darkgray;
		font-family: $type-serif;
		font-weight: 100;
		font-size: 24px;
		line-height: 32px;
	}
	.subhed {
		display: block;
		font-family: $type-serif;
		font-size: 24px;
		color: $midgray-light;
		text-align: center;
		text-transform: none;
		margin: $spacing-small 0;
		font-weight: normal;
	}
	.flush {
		margin: 0;
	}
	.flush-top {
		margin-top: 0;
	}
	.flush-bottom {
		margin-bottom: 0;
	}
}
