.body {
    .body-title {
        margin: 60px 0 40px;
        @include type-style-sans-medium;
        color: $orange;
        text-align: center;
        text-transform: uppercase;
    }
    .body-description {
        margin: 40px 0;
        @include type-style-serif-medium;
        text-align: center;
    }
    .body-logos {
        display: inline-block;
        margin: 0 0 60px;
        text-align: center;
        .row {
            margin: 60px 0 0;
            &:first-of-type {
                margin: 0;
            }
            &:last-of-type {
                display :none;
            }
        }
        img {
            @include span(4 of 6);
            @include squish(1 of 6);
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        @include breakpoint($breakpoint-desktop-small) {
            img {
                @include squish(0);
                @include span(3 of 12);
                &:last-of-type {
                    @include span(3 of 12 last);
                }
            }
            .row:last-of-type {
                display: block;
            }
        }
    }
}
