.demo-form-container {
	background: $offwhite-light;
	&.alternate {
		background: $white;
	}
}

.demo-form {
	color: $maroon;
	text-align: center;
	font-size: 24px;
	form {
	    margin: 0 auto;
	}
	h3 {
		color: $maroon;
		text-transform: uppercase;
		margin: 32px 0;
	}
	p {
		font-family: $type-serif;
		margin: 32px 0;
	}
	input, select {
		font-size: 16px;
		margin: .5em auto;
		border: none;
		@include breakpoint($breakpoint-desktop) {
			margin: 0 .5em 1em;
			min-width: 200px;
		}
	}
	select {
		margin-top: 0;
		@include breakpoint($breakpoint-desktop) {
			margin-top: .5em;
		}
	}
	button {
		margin: 1em auto;
		font-size: 16px;
		line-height: 1em;
	}
	button[type="submit"] {
		@include breakpoint($breakpoint-desktop-small) {
			margin: 1em .5em;
			// margin-left: .5em;
			// margin-right: .5em;
		}
	}
	&.alternate {
	    input[type="text"], input[type="email"], input[type="tel"], select {
	        border: 1px solid $lightgray;
	        margin: .25em;
	    }
	}
}

.mktoCustomError {
	font-size: 16px;
	color: $red;
	border-bottom: 1px solid $midred;
	background: $lightred;
	line-height: 2em;
	margin: 2em 0;
}

.mktoError {
	display: none !important;
}
