.feature-container.alt {
    background: $offwhite-light;
}

.feature {
    text-align: center;
    .copy {
        width: 100%;
        margin: 60px 0;
    }
    h2 {
        font-family: $type-serif;
        color: $darkgray;
        margin: 0 0 60px;
        text-transform: none;
        font-weight: normal;
        @include type-style-serif-large;
    }
    img {
        display: block;
    }
    .feature-image {
        margin: 60px 0;
        .image {
            display: inline-block;
            margin: 0 auto;
            img {
                margin: 0 auto;
                &.push-down {
                    margin: 60px auto 0;
                }
            }
        }
        &.two .image {
            display: none;
            &.mobile {
                display: inline-block;
            }
            @include breakpoint($breakpoint-desktop-small) {
                display: inline-block;
                @include span(2 of 4);
                &:last-of-type {
                    @include span(2 of 4 last);
                }
            }
        }
        &.three .image {
            display: none;
            &.mobile {
                display: inline-block;
            }
            @include breakpoint($breakpoint-desktop-small) {
                display: inline-block;
                @include span(2 of 6);
                &:last-of-type {
                    @include span (2 of 6 last);
                }
            }
        }
    }
    .feature-title {
        text-transform: uppercase;
        color: $orange;
        @include type-style-sans-medium;
        margin: 40px 0 20px;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 60px 0 40px;
        }
    }
    .feature-description {
        @include type-style-serif-medium;
        color: $darkgray;
        margin: 20px 0 0;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 40px 0 0;
        }
    }
    .feature-jump {
        display: inline-block;
        margin: 40px 0 0;
    }
}

.feature .copy {
    .feature-image, .full {
        @include container;
    }
    @include breakpoint($breakpoint-desktop) {
        .feature-image {
            @include container(1100px);
        }
        .full {
            @include container;
        }
    }
}

.feature.full .copy {
    &> * {
        @include container(4);
        padding: 0 5%;
    }
    .feature-image, .full {
        padding: 0;
    }
    @include breakpoint($breakpoint-desktop) {
        &> * {
            @include container(1100px);
            padding: 0;
        }
        .full {
            &.two, &.three {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}

.feature .learn-more {
    border: 1px solid $lightgray;
    border-width: 1px 0 0;
}

.learn-more {
    text-align: center;
    .copy {
        display: inline-block;
        margin: 60px 0;
    }
    .learn-more-title {
        color: $darkgray;
        margin: 60px 0 40px;
        @include type-style-serif-large;
    }
    .learn-more-logo {
        margin: 40px 0 60px;
        img {
            display: inline;
            margin: 0;
        }
    }
    p {
        @include type-style-serif-large
        margin: 60px 0 0;
    }
    .learn-more-description {
        color: $blue;
    }
    .learn-more-jump {
        display: block;
        margin: 40px 0 0;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 60px 0 0;
        }
    }
    .learn-more-jump .btn {
        display: inline-block;
        @include link($white, $offwhite, false);
        @include button;
        @include button-background($white, $offwhite, $orange, $darkorange);
        padding: 14px 24px;
    }
}
