.feature-container.alt {
    background: $offwhite;
}

.feature {
    text-align: center;
    .copy {
        width: 100%;
        margin: 60px 0;
    }
    h2 {
        font-family: $type-serif;
        color: $darkgray;
        font-size: 50px;
        line-height: 1em;
        margin: 0 0 60px;
        text-transform: none;
        font-weight: normal;
    }
    .feature-title {
        text-transform: uppercase;
        color: $orange;
        font-size: 20px;
        font-family: $type-sans;
        line-height: 20px;
        margin: 60px 0 40px;
    }
    .feature-description {
        font-family: $type-serif;
        font-size: 24px;
        line-height: 32px;
        color: $darkgray;
        margin: 40px 0 0;
    }
    .feature-jump {
        display: inline-block;
        margin: 40px 0 0;
    }
}

.feature.full {
    @include breakpoint($breakpoint-desktop) {
        h2, .feature-title, .feature-description, .feature-jump {
            @include container(1100px);
        }
    }
}

.feature .validation {
    border: 1px solid $lightgray;
    border-width: 1px 0;
    .validation-logo {
        margin: 30px 0 0;
    }
    p {
        color: $blue;
        font-family: $type-serif;
        font-size: 50px;
        line-height: 54px;
        margin: 60px 0 0;
    }
    .validation-jump {
        display: inline-block;
        margin: 60px 0;
    }
}
