input, select, textarea {
    display: inline-block;
    box-sizing: border-box;
    font-family: $type-sans;
    text-transform: none;
    // TODO: Check use of font-size vs. type-style mixin
    font-size: 16px;
    margin: 6px 0;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 14px 12px 10px;
    overflow: hidden;
    line-height: 20px;
    color: $orange;
    &:focus {
        outline: none;
    }
    @include breakpoint($breakpoint-tablet) {
        width: 70%;
    }
    @include breakpoint($breakpoint-desktop-small) {
        // TODO: Check use of font-size vs. type-style mixin
        font-size: 16px;
        vertical-align: bottom;
        margin: 12px;
        padding: 26px 24px 22px;
    }
}

.borders {
    input, select, textarea {
        border: 1px solid $lightgray;
    }
}

input, select {
    @include breakpoint($breakpoint-desktop-small) {
        @include span(274px);
        margin: 6px;
    }
    @include breakpoint($breakpoint-desktop) {
        @include span(342px);
        margin: 12px;
    }
}

input, textarea {
    @include placeholder($orange);
}

select {
    background-color: $white;
    background-repeat: no-repeat;
    background-image: url('../images/icon-down.png');
    background-position: 95% center;
    text-overflow: ellipsis;
    -webkit-appearance: button;
    -moz-appearance: none;
    @include breakpoint($breakpoint-desktop-small) {
        padding-right: 2em;
    }
}

textarea {
    resize: none;
    @include breakpoint($breakpoint-desktop-small) {
        width: 50%;
    }
}

button {
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    min-width: 160px;
    margin: 12px auto 0;
    padding: 14px 20px 10px;
    border: 1px solid $white;
    border-width: 0;
    color: $white;
    background-color: $orange;
    text-transform: uppercase;
    @include type-style-sans-base;
    &:focus {
        outline: none;
    }
    &:hover {
        color: $offwhite;
        background-color: $darkorange;
        border-color: $offwhite;
    }
}

form label {
    display: none;
}

form, .modal-content form {
    .mktoLogicalField {
        input {
            display: inline;
            width: auto;
            margin: 6px 6px 6px 0;
        }
        label {
            display: inline-block;
            margin: 6px 0;
            text-align: left;
            @include type-style(14px, 16px);
        }
    }
}

.mktoCustomError {
    display: none;
    margin: 0 0 40px;
    @include type-style-base-base;
    text-align: center;
    &.active {
        display: block;
    }
}

.mktoError {
    display: none !important;
}
