.content .container.full section.hero {
	padding-top: 0;
	padding-bottom: 0;
}

.hero {
	display: table;
	min-height: 240px;
	color: $white;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
	h1 {
		font-size: 36px;
		line-height: 1.2em;
	}
	a {
		@include link($white);
	}
	.tagline {
		display: block;
		font-size: 36px;
		line-height: 1.2em;
	}
	.subhed {
		display: block;
		font-size: 20px;
		line-height: 1.2em;
		padding: $spacing-small 0;
	}
	.feature-hed {
		display: block;
		font-family: $type-sans;
		font-size: 16px;
		line-height: 1.2em;
		padding: $spacing-xsmall 0;
		text-transform: uppercase;
	}
	@include breakpoint($breakpoint-tablet) {
		min-height: 420px;
		h1 {
			font-size: 60px;
			min-height: 0;
			line-height: 1.1em;
		}
	}
	@include breakpoint($breakpoint-desktop) {
		position: relative;
		height: 580px;
		padding: $spacing-medium;
		h1 {
			font-size: 80px;
			line-height: 1.1em;
			min-height: 0;
		}
		.subhed {
			font-size: 30px;
		}
		.feature-hed {
			font-size: 20px;
			padding: $spacing-small 0;
		}
	}
}

.hero-container {
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	.mask {
		background: $indigo-transparent-half;
	}
}
