.hero-container {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .mask {
        @include mask($indigo, .6);
    }
}