.content .container.full section.hero {
    padding-top: 0;
    padding-bottom: 0;
}

.hero {
    display: table;
    height: 240px;
    color: $white;
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    h1 {
        font-family: $type-sans;
        font-size: 36px;
        line-height: 40px;
        br {
            display: none;
        }
    }
    a {
        @include link($white);
    }
    .request-demo {
        margin-top: 20px;
        a {
            display: inline-block;
            @include link($white, $offwhite, false);
            @include button;
            @include button-background($white, $offwhite, $orange, $darkorange);
        }
    }
    @include breakpoint($breakpoint-tablet) {
        min-height: 400px;
        h1 {
            font-size: 60px;
            line-height: 1.1em;
        }
    }
    @include breakpoint($breakpoint-desktop) {
        position: relative;
        height: 600px;
        // padding: 40px;
        h1 {
            font-size: 70px;
            line-height: 74px;
            br {
                display: block;
            }
        }
        .subhed {
            font-size: 30px;
        }
        .feature-hed {
            font-size: 20px;
            padding: 20px 0;
        }
        .request-demo {
            margin: 60px 0 0;
            a {
                @include link($white, $offwhite, false);
                @include button;
                @include button-background($white, $offwhite, $orange, $darkorange);
                font-size: 16px;
                line-height: 1em;
                padding: 14px 24px;
                width: auto;
            }
        }
    }
}

.hero-container {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .mask {
        @include mask($indigo, .6);
    }
}
