.highlight {
	p {
		margin: 1em 0;
	}
	.copy {
		margin: $spacing-medium 0;
		color: $darkgray;
		font-family: $type-serif;
        font-weight: 100;
        font-size: 20px;
        line-height: 1.5em;
		strong {
			font-weight: 100;
			font-style: italic;
			color: $orange;
		}
		&.center {
			text-align: center;
		}
        @include breakpoint($breakpoint-tablet) {
            font-size: 24px;
    		line-height: 1.5em;
        }

		@include breakpoint($breakpoint-desktop) {
			margin: $spacing-large 0;
		}
	}
	@include breakpoint($breakpoint-desktop) {
		.left {
			@include span(3 of 6);
		}
		.right {
			@include span(3 of 6 last);
		}
	}
	.image {
		margin: $spacing-small 0;
	}
}

.highlight-image-container {
	background: $offwhite-light;
}

.highlight-image.full {
	img {
		width: 100%;
	}
}
