.learn-more-container {
    border: 1px solid $lightgray;
    border-width: 1px 0 0;
    margin: 60px 0 0;
}

.learn-more {
    text-align: center;
    .copy {
        display: inline-block;
        margin: 60px 0;
    }
    .learn-more-title {
        color: $darkgray;
        font-family: $type-serif;
        font-size: 50px;
        line-height: 50px;
        margin: 0 0 40px;
    }
    .learn-more-jump {
        display: inline-block;
        @include link($white, $offwhite, false);
        @include button;
        @include button-background($white, $offwhite, $orange, $darkorange);
        padding: 14px 24px;
    }
}
