.modal-active-body {
    overflow: hidden;
}

.modal-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    width: 100vw;
    @include mask($white, .6);
    &.active {
        display: block;
    }
}

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $orange;
    @include span(full);
    .modal-close {
        padding: 0;
        border: none;
        color: $white;
        background: transparent;
        font-size: 0;
        line-height: 32px;
        outline: 0;
        @include span(2 of 12 last);
    }
    .modal-title {
        @include span(10 of 12);
    }
    .modal-content {
        text-align: left;
    }
    @include breakpoint($breakpoint-desktop-small) {
        .modal-close {
            @include span(full break);
            position: absolute;
            right: 40px;
            min-width: 0;
            width: 24px;
            float: right;
            margin: 0;
        }
        .modal-title {
            @include span(full break);
            margin: 0 0 40px;
        }
        // .modal-content.center {
        //     text-align: center;
        // }
    }
}



// .modal-container.desktop-show {
//     @include breakpoint($breakpoint-desktop-small) {
//         display: block;
//         .desktop-hide {
//             display: none;
//         }

//     }
// }

.modal {
    padding: 20px;
}

.modal-active {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $orange;
    min-height: 100vh;
    z-index: 20;
    color: $white;
    @include span(full);
    -webkit-overflow-scrolling: touch;
    @include breakpoint($breakpoint-desktop-small) {
        top: 10%;
        bottom: auto;
        left: 10%;
        right: 10%;
        height: auto;
        width: 80%;
        min-height: 0;

    }
}

.modal-link-container.desktop-hide {
    @include breakpoint($breakpoint-desktop-small) {
        display: none;
    }
}

.modal-content {
    @include span(full);
    margin: 40px 0;
    @include breakpoint($breakpoint-desktop-small) {
        margin-top: 0;
    }
}

.modal-title {
    font-size: 14px;
    font-family: $type-sans;
    line-height: 16px;
    color: $white;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    @include breakpoint($breakpoint-desktop-small) {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }
}

.modal-description {
    display: none;
    font-family: $type-serif;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 40px 0;
    @include breakpoint($breakpoint-desktop-small) {
        display: block;
    }
}

.modal-close span {
    float: right;
    margin: 0;
}

// .modal-desktop {
//     display: none;
//     @include breakpoint($breakpoint-desktop-small) {
//         display: block;
//     }
// }

.modal-content form {
    input, select, textarea {
        box-sizing: border-box;
        color: $white;
        background-color: $orange;
        background-image: none;
        border: 1px solid $darkorange;
        border-width: 1px 0 0 0;
        border-color: $darkorange;
        padding: 12px 0;
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        @include placeholder($white);
        @include breakpoint($breakpoint-desktop-small) {
            @include span(200px);
            color: $orange;
            border-width: 0;
            background-color: $white;
            margin: 12px;
            padding: 24px;
            @include placeholder($orange);
        }
        @include breakpoint($breakpoint-desktop) {
            @include span(264px);
        }
    }
    button {
        margin: 12px 0;
        @include button;
        @include link($white, $indigo);
        @include button-background($white, $offwhite, $indigo, $indigo);
        border-width: 0;
    }
    @include breakpoint($breakpoint-desktop-small) {
        text-align: center;
        // input[type="search"], input[type="text"], input[type="tel"], input[type="email"], select {
        //     color: $lightgray-dark;
        //     background-color: $white;
        //     border: 1px solid $lightgray;
        //     padding: .75em;
        //     margin: .25em;
        //     font-size: 14px;
        //     line-height: 16px;
        //     @include placeholder;
        // }
        select {
            background-image: url('../images/icon-down.png');
        }
        button {
            padding: 14px 24px;
        }
    }
}


// Modal header
.header-container.modal-active {
    padding: 0;
}

.header-container.modal-active .header {
    display: block;
    padding: 20px 20px 80px 20px;
    .logo {
        display: none;
    }
    .nav-icon {
        margin: 0;
        @include span(2 of 12 last);
        min-height: 32px;
        .nav-icon-bar {
            display: none;
        }
        .icon {
            display: block;
            float: right;
            color: $white;
            line-height: 1em;
            margin: 0;
        }
    }
    .primary-nav {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 0.8em;
        @include span(10 of 12);
        ul li {
            display: block;
            margin: 18px 0;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .secondary-nav, .footer-nav {
        display: block;
        @include span(full last);
    }
    .secondary-nav {
        font-size: 18px;
        line-height: 0.8em;
        margin-bottom: 40px;
        ul li {
            display: block;
            margin: 18px 0;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .footer-nav {
        ul {
            margin-top: 0;
            li {
                margin: 0 2em 12px 0;
            }
        }
        margin-bottom: 20px;
    }
    a {
        @include link($white, $indigo);
        &.active {
            @include link($indigo, $white);
        }
    }
}
