body.modal-active {
	overflow: hidden;
}

.modal-container {
	display: none;
	button {
		padding: 0;
		border: none;
		color: $white;
		background: transparent;
		font-size: 0;
		line-height: 32px;
		outline: 0;
		@include span(2 of 12 last);
	}
	.modal-title {
		@include span(10 of 12);
	}
}

.modal {
	padding: 30px;
}

.modal-active {
	display: block;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
	background: $orange;
	min-height: 100vh;
	z-index: 20;
	color: $white;
	@include span(full);
}

.modal-link {
	@include breakpoint($breakpoint-desktop-small) {
		display: none;
	}
}

.modal-content {
	@include span(full);
}

.modal-title h3 {
	font-size: 18px;
	color: $white;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.modal-close span {
	float: right;
	margin: 0;
}

.header-container.modal-active {
	padding: 0;
}

.header-container.modal-active .header {
	padding: 20px;
	.logo {
		display: none;
	}
	.nav-icon {
		margin: 0;
		@include span(2 of 12 last);
		min-height: 32px;
		.nav-icon-bar {
			display: none;
		}
		.icon {
			display: block;
			float: right;
			color: $white;
			line-height: 1em;
			margin: 0;
		}
	}
	.primary-nav {
		display: inline-block;
		margin-bottom: 48px;
		@include span(10 of 12);
		ul li {
			display: block;
			margin: 0 0 20px;
		}
	}
	.secondary-nav, .footer-nav {
		display: block;
		@include span(full last);
	}
	.secondary-nav {
		margin-bottom: 72px;
		ul li {
			margin-bottom: 15px;
		}
	}

	.footer-nav {
		margin-bottom: 15px;
	}
	a {
		@include link($white, $indigo);
		&.active {
			@include link($indigo, $white);
		}
	}
}