.overview {
    text-align: center;
    .copy {
        display: inline-block;
        margin: 60px 0;
    }
    .overview-title {
        margin: 0 0 24px;
        font-size: 20px;
        font-family: $type-sans;
        line-height: 1em;
        text-transform: uppercase;
        color: $orange;
        @include type-style-sans-medium;
    }
    p {
        margin: 24px 0 0;
        @include type-style-serif-medium;
        color: $darkgray;
    }
}
