.promo-container .mask {
	background: $indigo-transparent-half;
}

.promo {
	color: $white;
	text-align: center;
	h3 {
		color: $white;
		text-transform: uppercase;
	}
    a {
        @include link($white, $orange);
    }
	p {
		font-family: $type-serif;
		font-size: 24px;
		margin: 1em 0;
		line-height: 1.5em;
		&.callout {
			@include breakpoint($breakpoint-desktop-small) {
				font-size: 60px;
				margin: 1em 0;
			}
		}
	}
	.jump {
		margin: 2em 0;
	}
	.btn {
		@include link($white, $orange);
		display: inline-block;
		padding: .5em 1em;
	}
}

.promo.jobs h3 {
    margin-top: 0;
}

.promo.next .jump a {
	font-size: 18px;
	@include link($white, $white);
	&:hover {
		border-bottom: 1px solid $white;
	}
}
