.form {
    max-height: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-self: flex-start;
    @include breakpoint($breakpoint-desktop-small) {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .next-bottom-form & {
        padding-top: 0;
        @include breakpoint($breakpoint-tablet) { 
            padding-top: 30px;
        }
    }

    .logo {
        width: 160px;
        @include breakpoint($breakpoint-desktop-small) {
            width: 200px;
        }
    }

    &.event-signup {
        max-width: 400px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    h2 {
        @include type-style(27px, 34px);
        font-weight: 400;
        margin: 30px 0 10px;
        color: $darkgray;
    }

    .mktoFieldDescriptor.mktoFormCol {
        width: 100%;
    }
    .mktoFieldWrap {
        width: 100%;
    }
    .mktoFieldWrap.mktoRequiredField {
        width: 100%;
    }

    .mktoCustomError {
        margin-bottom: 5px;
    }

    input, select {
        font-family: $type-averta;
        font-weight: 400;
        @include type-style(15px, 15px);
        color: $darkgray;
        @include placeholder($darkgray);
        width: 100%;
        padding: 10px 10px;
        margin: 10px 0;
        border: 1px solid $lightgray-dark;
        border-radius: 2px;
    }

    textarea {
        font-family: $type-averta;
        font-weight: 400;
        @include type-style(15px, 15px);
        @include placeholder($darkgray);
        color: $darkgray;
        width: 100%;
        margin: 10px 0;
        border: 1px solid $lightgray-dark;
    }

    button {
        font-family: $type-averta;
        font-weight: 700;
        @include type-style(15px, 15px);
        width: 100%;
        padding: 12px 20px;
        text-transform: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        transition: background .3s;
        &:hover {
            transition: background .3s;
        }

    }
    .mktoCheckboxList label {
        font-family: $type-averta;
        max-width: 350px;
        font-size: 13px;
        margin: 0 0 0 8px;
    }
}
