.request-demo-container {
    background-color: $offwhite-light;
}

.request-demo {
    color: $orange;
    text-align: center;
    .copy {
        margin: 60px 0;
    }
    .request-demo-title {
        font-family: $type-sans;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 40px;
        text-transform: uppercase;
    }
    .request-demo-description {
        font-family: $type-serif;
        font-size: 24px;
        line-height: 24px;
        color: $darkgray;
        margin: 40px 0;
    }
    .request-demo-button {
        display: inline-block;
        @include button;
        @include link($white, $offwhite, false);
        @include button-background($white, $offwhite, $orange, $darkorange);
    }
}

.request-demo-hero-modal-container {
    @include container(1200px);
    max-width: 1200px;
    &.modal-active {
        margin: 0 auto;
    }
}

.request-demo-hero-modal {
    @include breakpoint($breakpoint-desktop-small) {
        margin: 40px;
    }
    .copy {
        display: inline-block;
        width: 100%;
    }
}
