.request-demo-container {
    background-color: $offwhite-light;
}

.request-demo {
    color: $orange;
    text-align: center;
    .copy {
        margin: 60px 0;
    }
    .request-demo-title {
        @include type-style-sans-medium;
        margin: 0 0 40px;
        text-transform: uppercase;
    }
    .request-demo-description {
        @include type-style-serif-medium;
        color: $darkgray;
        margin: 40px 0;
    }
    .request-demo-button {
        display: inline-block;
        @include button;
        @include link($white, $offwhite, false);
        @include button-background($white, $offwhite, $orange, $darkorange);
    }
}

.request-demo-hero-modal-container, .request-demo-modal-container {
    @include container(1200px);
    max-width: 1200px;
    &.modal-active {
        margin: 0 auto;
    }
}

.request-demo-hero-modal, .request-demo-modal {
    .copy {
        display: inline-block;
        width: 100%;
    }
}

.request-demo-container.desktop-show {
    @include breakpoint($breakpoint-desktop-small) {
        .copy {
            margin: 60px 0 0;
        }
        .request-demo-link {
            display: none;
        }
    }
}

.request-demo-modal-container.desktop-show {
    @include breakpoint($breakpoint-desktop-small) {
        display: block;
        @include container(full);
        background-color: $offwhite-light;
        .copy {
            margin: 0 auto 40px
        }
        .modal-close {
            display: none;
        }
        .modal-title {
            display: none;
        }
        .modal-content {
            display: block
        }
    }
}
