.section-hed {
    max-width: 600px;
    margin: 24px auto;
    text-align: left;
    @include child-margins(20px);
    hr {
        max-width: 100px;
        margin: 0 0 30px;
        border: 5px solid $orange;
        border-width: 5px 0 0;
        padding: 0;
    }
    h2, h3 {
        @include sentinel-margins(20px);
        font-family: $type-serif;
        font-weight: 300;
        @include type-style(24px, 32px);
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px auto;
        @include child-margins(24px);
        h2, h3 {
            @include sentinel-margins(24px);
            @include type-style(32px, 40px);
        }
    }
}
