.sub-nav-container {
    border: 1px solid $lightgray;
    border-width: 1px 0 0;
}

.sub-nav {
    ul {
        margin: 20px 0;
    }
    li {
        @include type-style-base-base;
        margin-right: 32px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .active {
        @include link($orange, $indigo);
    }
}
