.sub-nav-container {
    border: 1px solid $lightgray;
    border-width: 1px 0 0;
    display: none;
    @include breakpoint($breakpoint-desktop) {
        display: block;
    }
}

.sub-nav {
    display: inline-block;
    width: 100%;
    ul {
        margin: 20px 0;
    }
    li {
        @include type-style-base-base;
        margin: 0 30px 0 0;
        &:first-child {
            margin: 0 30px;
        }
        &:last-child {
            margin: 0;
        }
    }
    .active {
        @include link($orange, $indigo);
    }
}

.sub-nav-container.sticky {
    border-width: 0 0 1px;
    &.enabled {
        position: fixed;
        top: 0;
        width: 100%;
        background: $white;
        z-index: 20;
    }
}

.sub-nav-placeholder.enabled {
    display: block;
    height: 64px;
}
