.hero-video-container {
	position: relative;
	overflow: hidden;
	.wistia-embed {
		display: none;
		@include breakpoint($breakpoint-desktop) {
			display: block;
			position: absolute;
			width: 100%;
			min-height: 580px;
			overflow-x: hidden;
		}
	}
	.mask {
		position: relative;
	}
}
