.hero-video-container {
	position: relative;
	overflow: hidden;
	.wistia-container {
		display: none;
	}
	.wistia-embed {
		position: absolute;
		width: 100%;
		height: 580px;
		overflow-x: hidden;
		top: -70px;
	}
	.mask {
		position: relative;
	}
}
