.content-container {
    @include breakpoint($breakpoint-desktop) {
        @include container(full);
    }
}

.content .container {
    @include container(4);
    padding: 0 5%;
    @include breakpoint($breakpoint-desktop) {
        padding: 0;
        @include container(1100px);
    }
    &.full {
        @include container(full);
        padding: 0;
        .segment, section {
            @include container(4);
            padding: 5%;
            .copy {
                display: block;
            }
        }
        nav {
            @include container(4);
            padding: 20px 5%;
        }
        &.bleed {
            .segment, section {
                padding: 0 5%;
                &.full {
                    padding: 0;
                    @include container(full);
                }
            }
            nav {
                padding: 20px 5%;
                &.primary-nav, &.secondary-nav {
                    padding: 0;
                }
            }
        }
        @include breakpoint($breakpoint-desktop) {
            @include container(full);
            .segment, section, nav {
                @include container(1100px);
                padding: 0;
                &.pad {
                    padding: 40px;
                }
                // &.margin {
                //     margin: 20px auto;
                // }
            }
            &.pad {
                padding: 40px;
            }
            &.bleed {
                section, nav {
                    @include container(1100px);
                    padding: 0;
                    &.full {
                        @include container(full);
                    }
                }
            }
        }
    }
    .clear {
        @include break;
    }
}

.content .row {
    @include span(full break);
}
