.footer-container {
    @include container(4);
    padding: 0 5%;
    @include breakpoint($breakpoint-desktop) {
        padding: 0;
    }
}

.footer {
    @include breakpoint($breakpoint-desktop) {
        @include container(1100px);
        .site-section {
            @include span(2 of 12);
            &:last-of-type {
                @include span(2 of 12 last);
            }
        }
        .footer-logo {
            @include span(3 of 12);
        }
        .footer-nav {
            @include span(9 of 12 last);
        }
    }
}

.footer .site-nav {
    display: none;
    @include breakpoint($breakpoint-desktop) {
        display: block;
    }
}

.footer .primary-nav {
    display: none;
    @include span(full);
    margin: 60px 0;
    @include breakpoint($breakpoint-desktop) {
        display: block;
    }
}

.footer .secondary-nav {
    @include span(full);
    @include breakpoint($breakpoint-desktop) {
        border-top: 1px solid $darkorange;
    }
}

.footer-container {
    background: $orange;
}

.footer {
    color: $white;
    a {
        @include link($white);
    }
}

.footer-logo a {
    display: block;
    width: 200px;
    height: 30px;
    margin: 40px 0;
}

.site-nav {
    font-size: 13px;
    h2 {
        font-family: $type-base;
        text-transform: none;
        text-align: left;
        font-size: 16px;
        margin: 0 0 30px;
        color: $white;
    }
    ul {
        margin: 0;
        li {
            display: block;
            margin: 16px 0 0;
        }
    }
}

.footer-nav {
    font-size: 13px;
    ul {
        margin: 24px 0;
        li {
            margin: 0 24px 0 0;
            &:last-of-type {
                margin: 0;
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        text-align: right;
        ul {
            margin: 40px 0;
            li {
                margin: 12px 24px 0 0;
                &:last-of-type {
                    margin: 12px 0 0;
                }
            }
        }
    }
}
