.footer-container {
	@include container(4);
	padding: 0 5%;
	@include breakpoint($breakpoint-desktop) {
		@include container(full);
	}
}

.footer {
	@include breakpoint($breakpoint-desktop) {
		@include container(1100px);
		.footer-logo {
			@include span(3 of 12);
		}
		.footer-nav {
			@include span(9 of 12 last);
		}
	}
}

.footer-container {
	background: $orange;
}

.footer {
	color: $white;
	padding: $spacing-small 0;
	a {
		margin: 30px 0;
		@include link($white);
	}
}

.footer-logo a {
	display: block;
	width: 200px;
	height: 30px;
}

.footer-nav {
	font-size: 13px;
	ul {
		margin: 1em 0 0;
		li {
			margin: 1em 2em 0 0;
		}
	}
	.copyright {
		color: $darkorange;
	}
	.made-in a {
		color: $darkorange;
	}
	@include breakpoint($breakpoint-desktop) {
		text-align: right;
		ul {
			margin: 30px 0;
			li {
				margin: 12px 2em 0 0;
			}
		}
	}
}
