.header-container {
    @include container(full);
    padding: 0;
}

.header {
    .primary-nav {
        @include span(80%);
        margin: 0;
        ul {
            display: none;
        }
    }
    .nav-icon {
        min-width: 0;
        line-height: 0;
        @include span(20% last);
        margin: 0;
        .modal-close .icon {
            display: none;
        }
    }
    .secondary-nav, .footer-nav {
        display: none;
    }
    @include breakpoint($breakpoint-desktop-small) {
        @include container(full);
        .nav-icon {
            display: none;
        }
        .primary-nav {
            @include span(68%);
            margin: 0;
            ul {
                display: block;
            }
        }
        .secondary-nav {
            display: block;
            @include span(32% last);
            margin: 0;
        }
    }
    @include breakpoint($breakpoint-desktop) {
        .primary-nav {
            @include span(70%);
            margin: 0;
        }
        .secondary-nav {
            @include span(30% last);
            margin: 0;
        }
    }
}

.header .primary-nav {
    .logo {
        @include span(160px);
        margin: 24px;
    }
    ul li {
        font-family: $type-serif;
    }
    @include breakpoint($breakpoint-desktop-small) {
        .logo {
            @include span(200px);
            margin: 30px;
        }
        ul {
            margin: 30px 0 28px;
            float: left;
            li {
                display: inline-block;
                font-family: $type-serif;
                @include type-style(18px, 18px);
                margin: 10px 7px 2px 0;
                &:last-child {
                    margin: 10px 0 2px;
                }
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        ul li {
            @include type-style(20px, 20px);
            margin: 8px 22px 2px 0;
        }
    }
}

.header .secondary-nav {
    ul li {
        font-family: $type-serif;
        @include type-style(18px, 18px);
    }
    @include breakpoint($breakpoint-desktop-small) {
        ul {
            margin: 30px 30px 22px 0;
            text-align: right;
            li {
                margin: 0 10px 0 0;
                font-family: $type-base;
                @include type-style(13px, 13px);
                &:first-child {
                    margin: 0 10px 0 10px;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        .highlight a {
            display: block;
            @include link($white, $offwhite, false);
            @include button;
            @include button-background($white, $offwhite, $orange, $darkorange);
            @include type-style(13px, 13px);
            padding: 13px;
            border-width: 0;
        }
    }
    @include breakpoint($breakpoint-desktop) {
        ul li {
            margin: 0 20px 0 0;
            &:first-child {
                margin: 0 20px 0 20px;
            }
        }
    }
}

.header .nav-icon {
    padding: 24px 24px 0 0;
    border: none;
    color: transparent;
    background: transparent;
    font-size: 0;
    outline: 0;
    color: $indigo;
    .nav-icon-bar {
        display: block;
        background: $indigo;
        width: 24px;
        height: 2px;
        margin: 4px 0 4px auto;
        text-align: right;
    }
}

.header .footer-nav ul li {
    display: block;
}

.header {
    ul {
        margin: 0;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 36px 0 0 0;
        }
    }

    a.active {
        @include link($orange, $indigo);
    }

    .logo {
        display: block;
        width: 200px;
        height: 30px;
        font-size: 0;
        color: transparent;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 0 50px 0 0;
        }
    }

    .logo img {
        width: 160px;
        height: 24px;
        @include breakpoint($breakpoint-desktop-small) {
            width: auto;
            height: auto;
        }
    }
}

// Modal header

.header-container.modal-active {
    padding: 0;
}

.header-container.modal-active .header {
    .primary-nav {
        display: inline-block;
        margin: 0 0 20px;
        @include type-style(32px, 32px);
        .logo {
            display: none;
        }
        ul {
            display: block;
            margin: 24px 0 0 24px;
            li {
                display: block;
                margin: 12px 0;
                &:first-of-type {
                    margin: 0 0 12px;
                }
                &:last-of-type {
                    margin: 12px 0 0;
                }
            }
        }
    }

    .nav-icon {
        margin: 0;
        .nav-icon-bar {
            display: none;
        }
        .icon {
            display: block;
            margin: 0;
            color: $white;
        }
    }

    .secondary-nav, .footer-nav {
        display: block;
        @include span(full last);
    }

    .secondary-nav {
        margin: 20px 0;
        @include type-style(18px, 18px);
        ul {
            margin: 0 0 0 24px;
            li {
                display: block;
                margin: 12px 0;
                &:first-of-type {
                    margin: 0 0 12px;
                }
                &:last-of-type {
                    margin: 12px 0 0;
                }
            }
        }
    }
    .footer-nav {
        margin: 20px 0 0;
        ul {
            margin: 0 0 0 24px;
            li {
                display: block;
                margin: 6px 0;
                &:first-of-type {
                    margin: 0 0 6px;
                }
                &:last-of-type {
                    margin: 6px 0 0;
                }
            }
        }
    }
    a {
        @include link($white, $indigo);
        &.active {
            @include link($indigo, $white);
        }
    }
}
