.header .primary-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $lightgray;
    &.sticky.enabled {
        ul.main {
            @include breakpoint($breakpoint-desktop-small) {
                float: left;
                margin-right: 240px;
                transition: margin .3s;
                li:last-of-type {
                    .subnav-card {
                        left: 50%;
                        &:before, &:after {
                            left: 50%;
                        }
                    }
                }
            }
            @include breakpoint(1134px) {
                margin-right: 310px;
            }            
        }
        .buttons {
            @include breakpoint($breakpoint-desktop-small) {
                overflow: visible;
                ul {
                    right: -10px;
                    opacity: 1;
                }
            }
        }
    }
    .logo, .modal-nav-logo {
        width: 160px;
        margin: 27px 20px 23px 24px;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 25px 20px 25px 30px;
            width: 200px;
        }
        @include breakpoint(1134px) {
            margin: 25px 30px;
        }
    }
    ul {
        display: none;
        padding-right: 0;
        @include breakpoint($breakpoint-desktop-small) {
            display: block;
            margin: 28px 30px 0 0;
        }
        &.main {
            margin-right: 30px;
            transition: margin .3s;
            li:last-of-type {
                .subnav-card {
                    left: 5%;
                    &:before, &:after {
                        left: 75%;
                    }
                }
            }
        }
        li {
            position: relative;
            font-weight: 700;
            @include type-style(16px, 16px);
            &.mobile {
                display: block;
                &.subnav-open {
                    display: none;
                }
                @include breakpoint($breakpoint-desktop-small) {
                    display: none
                }
            }
            @include breakpoint($breakpoint-desktop-small) {
                margin: 0 10px 0 0;
                padding-bottom: 33px;
                &:last-of-type {
                    margin-right: 0;
                }
                &.has-subnav:hover {
                    .subnav-card {
                        opacity: 1;
                        top: 49px;
                        pointer-events: auto;
                    }
                }
            }
            @include breakpoint(1050px) {
                @include type-style(18px, 18px);
                margin: 0 30px 0 0;
                padding-bottom: 31px;
            }
        }
    }
    .subnav-card {
        display: none;
        position: relative;
        &.active {
            display: block;
            @include breakpoint($breakpoint-desktop-small) {
                margin-top: 10px;
            }
        }
        @include breakpoint($breakpoint-desktop-small) {
            display: block;
            opacity: 0;
            pointer-events: none;
            background: $white;
            border: 1px solid $lightgray;
            min-width: 155px;
            margin: 0;
            white-space: nowrap;
            float: none;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            transition: top .2s, opacity .2s;
            &:after, &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: transparent;
                border-bottom-color: $white;
                border-width: 10px;
                margin-left: -10px;
            }
            &:before {
                border-color: transparent;
                border-bottom-color: $lightgray;
                border-width: 11px;
                margin-left: -11px;
            }
        }
        li {
            font-family: $type-base;
            @include type-style(15px, 15px);
            font-weight: 500;
            color: $indigo;
            margin: 0;
            padding: 0;
            display: block;
            float: none;
            border-bottom: 1px solid $lightgray;
            .modal-active & {
                border-color: $white;
            }
            @include breakpoint($breakpoint-desktop-small) {
                &:last-of-type {
                    border-bottom: none;
                }
            }                   
            a {
                display: block;
                @include breakpoint($breakpoint-desktop-small) {
                    padding: 15px;
                    &:hover {
                        color: $indigo;
                        background: $offwhite-dark;
                    }
                }
            }
        }
                
    }    
    .nav-icon {
        min-width: 0;
        line-height: 0;
        width: 20%;
        margin: 0;
        @include breakpoint($breakpoint-desktop-small) {
            display: none;
        }
    }
    .buttons {
        position: relative;
        overflow: hidden;
        ul  {
            position: absolute;
            right: -300px;
            opacity: 0;
            transition: right .3s, opacity .3s;
            li {
                margin-right: 10px;
                @include breakpoint(1134px) {
                    margin-right: 20px;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.header .secondary-nav {
    width: 100%;
    border-bottom: 1px solid $lightgray;
    display: none;
    @include breakpoint($breakpoint-desktop-small) {
        display: block;
    }
    ul {
        @include susy-clearfix;
        text-align: left;
        margin: 25px 30px;
        li {
            float: right;
            margin: 0 0 0 20px;
            &:first-child {
                float: left;
                margin: 0;
            }
            &.sales-phone {
                font-family: $type-base;
                @include type-style(15px, 15px);
            }
        }
    }
    
}

.header .nav-icon {
    padding-right: 24px;
    border: none;
    color: transparent;
    background: transparent;
    font-size: 0;
    outline: 0;
    color: $indigo;
    .nav-icon-bar {
        display: block;
        background: $indigo;
        width: 24px;
        height: 2px;
        margin: 4px 0 4px auto;
        text-align: right;
    }
}

.header .footer-nav {
    display: none;
    ul li {
        display: block;
    }
}

.header {
    ul {
        margin: 0;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 36px 0 0 0;
        }
    }

    a.active {
        @include link($orange, $indigo);
    }

    .logo, .modal-nav-logo {
        display: block;
        width: 200px;
        height: 30px;
        font-size: 0;
        color: transparent;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 0 50px 0 0;
        }
        img {
            width: 160px;
            height: 24px;
            @include breakpoint($breakpoint-desktop-small) {
                width: auto;
                height: auto;
            }
        }
    }
    .btn {
        transition: background .3s, padding .3s;
        @include type-style(14px, 14px);
        padding: 8px 14px;
        border: 1px solid $orange;
        box-shadow: none;
        @include breakpoint(1134px) {
            @include type-style(18px, 18px);
            padding: 10px 20px;
        }
        &:hover {
            border-color: $orange;
            transition: background .3s;
        }
        &.login {
            @include button-background($orange, $offwhite, $white, $orange);
            border: 1px solid $orange;
            padding: 8px 14px;
            @include breakpoint(1134px) {
                padding: 9px 20px;
            }
        }
    }
    .footer-nav {
        margin: 0;
        ul li {
            
        }
    } 
}

// Modal header

.header-container.modal-active.no-nav {
    display: none;
}

.header .primary-nav {
    .modal-nav-header, .modal-nav-primary-sub-nav {
        display: none;
        width: 100%;
    }
}

.header-container.modal-active {
    padding: 0;
}

.header .modal-nav-logo {
    a, img {
        line-height: 24px;
    }
    img {
        vertical-align: baseline;
    }
}

.header-container.modal-active .header {
    .primary-nav {
        display: inline-block;
        width: 100%;
        margin: 0;
        border: none;
        @include type-style(24px, 24px);
        .logo {
            display: none;
        }
        .modal-nav-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border: 1px solid $white;
            border-width: 0 0 1px;
        }
        ul {
            width: 100%;
            &.main {
                display: block;
            }
            li {
                display: block;
                margin: 0 24px;
                border: 1px solid $white;
                border-width: 0 0 1px;
                ul li {
                    margin: 0;
                    &:first-of-type {
                        border-width: 1px 0;
                    }
                    &:last-of-type {
                        border-width: 0;
                    }
                    a {
                        padding: 15px 15px 15px 37px;
                    }
                }
                &.subnav-open {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                a {
                    padding: 12px 0;
                    display: block;
                    &:after, &:before {
                        position: relative;
                        top: 2px;
                        font-family: $percocons;
                        @include type-style(18px, 24px);
                    }
                    &:after {
                        content: '';
                    }
                    &:before {
                        content: '';
                    }
                    &.has-children {
                        &:after {
                            float: right;
                            content: $icon-right;
                        }
                    }
                    &.nav-active.has-children {
                        &:after {
                            content: '';
                        }
                        &:before {
                            content: $icon-left;
                            padding: 0 20px 0 0;
                        }
                    }

                    &:active, &:hover {
                        color: $white
                    }

                    &.active:hover, &.active:active {
                        color: $indigo;
                    }


                }
            }
        }
        .modal-nav-primary-sub-nav {
            display: block;
            .primary-sub-nav {
                display: none;
                li {
                    font-family: $type-base;
                    font-weight: normal;
                    padding-left: 40px;
                    @include type-style(18px, 18px);
                }
                &.active {
                    display: block;
                }
            }
        }
    }

    .nav-icon {
        margin: 0;
        .nav-icon-bar {
            display: none;
        }
        .icon {
            display: block;
            margin: 0;
            color: $white;
        }
    }

    .footer-nav {
        display: block;
        margin: 0;
        ul {
            margin: 0 0 0 24px;
            li {
                display: block;
                font-family: $type-base;
                font-weight: 400;
                @include type-style(15px, 15px);
                margin: 25px 0;
            }
        }
    }
    a {
        @include link($white, $indigo);
        &.active {
            @include link($indigo, $white);
        }
    }
}

.nav-placeholder.enabled {
    display: block;
    height: 82px;
}

.modal-active .header-container {
    border-width: 0;
}

.modal-active-body .header-container .sticky.enabled {
    z-index: 1;
}
.header-container {
    .sticky.enabled {
        z-index: 60;
        position: fixed;
        top: 0;
        width: 100%;
        background: $white;
    }
}

.header-container.no-nav .header {
    .primary-nav {
        width: auto;
        margin: 0;
        border: none;
        ul {
            display: none;
            li {
                @include type-style(14px, 14px);
                font-weight: 400;
            }
             @include breakpoint($breakpoint-desktop-small) {
                display: block;
                width: 40%;
                float: right;
                margin-right: 30px;
                text-align: right;
            }
        }
    }
   
}