.header-container {
    @include container(4);
    padding: 0 5%;
    @include breakpoint($breakpoint-desktop-small) {
        @include container(full);
        padding: 0;
    }
    @include breakpoint($breakpoint-desktop) {
        @include container(full);
    }
}

.header {
    .nav-icon {
        min-width: 0;
        line-height: 0;
        @include span(2 of 12 last);
        .modal-close .icon {
            display: none;
        }
    }
    .primary-nav, .secondary-nav, .footer-nav {
        display: none;
    }
    @include breakpoint($breakpoint-desktop-small) {
        @include container(full);
        .nav-icon {
            display: none;
        }
        .primary-nav {
            display: block;
            @include span(75%);
            margin: 0;
        }
        .secondary-nav {
            display: block;
            @include span(25% last);
            margin: 0;
        }
    }
    // @include breakpoint($breakpoint-desktop) {
    //     .primary-nav {
    //         display: block;
    //         @include span(12 of 24);
    //     }
    //     .secondary-nav {
    //         display: block;
    //         @include span(7 of 24 last);
    //     }
    // }
}

.header .primary-nav {
    .logo {
        @include span(200px);
        margin: 20px 50px;
    }
    ul {
        margin: 20px 0;
        float: left;
        li {
            @include breakpoint($breakpoint-desktop-small) {
                display: inline-block;
                font-family: $type-serif;
                @include type-style(20px, 20px);
                margin: 8px 30px 2px 0;
            }
        }
    }
}

.header .secondary-nav {
    ul {
        margin: 20px 50px 20px 0;
        li {
            margin: 0 30px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    .request-demo a {
        display: block;
        @include link($white, $offwhite);
        @include button;
        @include button-background($white, $offwhite, $orange, $darkorange);
        @include type-style(13px, 13px);
        padding: 13px;
    }
}

// .header .primary-nav ul {
//     li {
//         @include breakpoint($breakpoint-desktop-small) {
//             display: inline-block;
//             font-family: $type-serif;
//             vertical-align: bottom;
//             @include type-style(20px, 20px);
//             margin: 0 20px 0 0;
//             a {
//                 display: inline-block;
//                 height: 20px;
//                 margin: 5px 0;
//             }
//             &.logo {
//                 margin: 0 50px 0 0;
//                 a {
//                     height: auto;
//                     margin: 0;
//                     padding: 0;
//                 }
//             }
//             &:last-child {
//                 margin: 0;
//             }
//         }
//     }
// }

.header {
    ul {
        margin: 0;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 36px 0 0 0;
        }
    }

    a.active {
        @include link($orange, $indigo);
    }

    .logo {
        display: block;
        width: 200px;
        height: 30px;
        font-size: 0;
        color: transparent;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 0 50px 0 0;
        }
    }

    .logo img {
        width: 160px;
        height: 24px;
        @include breakpoint($breakpoint-desktop-small) {
            width: auto;
            height: auto;
        }
    }

    .nav-icon {
        padding: 0;
        border: none;
        color: transparent;
        background: transparent;
        font-size: 0;
        margin: 30px 0;
        height: 24px;
        outline: 0;
        color: $indigo;
    }
    .primary-nav, .secondary-nav {
        // font-family: $type-serif;
        // ul li {
        //     display: block;
        //     @include breakpoint($breakpoint-tablet) {
        //         display: inline-block;
        //         margin: 5px 16px 0 0;
        //     }
        //     @include breakpoint($breakpoint-desktop) {
        //         margin: 5px 20px 0 0;
        //     }
        // }
    }
    .primary-nav {
        @include breakpoint($breakpoint-desktop-small) {
            font-size: 18px;
            line-height: 1em;
            margin-bottom: 0;
        }
        ul li:last-child {
            margin-right: 0;
        }
    }
    .secondary-nav {
        @include breakpoint($breakpoint-desktop-small) {
            @include type-style(13px, 13px);
            font-family: $type-base;
            margin-bottom: 0;
            text-align: right;
            .request-demo, .highlight {
                display: inline-block;
                margin-top: 0;
                text-transform: uppercase;
                font-family: $type-sans;
                @include type-style(13px, 13px);
            }
            .request-demo a, .highlight a {

            }
        }
        @include breakpoint($breakpoint-desktop) {
            ul li:last-child {
                margin-right: 0;
            }
        }
    }
    .request-demo {
        text-align: left;
    }
}
