.sub-nav-container {
	@include container(4);
	padding: 0 5%;
	@include breakpoint($breakpoint-desktop) {
		@include container(1100px);
		padding: 0;

	}
}

.sub-nav {
	font-size: 13px;
	ul {
		padding-top: $spacing-small;
		border-top: 1px solid $lightgray;
	}
	li {
		margin-right: 1em;
		line-height: 2em;
		&.active a {
			@include link($orange);
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
