@include breakpoint-set('no query fallbacks', true);

$breakpoint-mobile: 480px;
$breakpoint-tablet: 720px;
$breakpoint-desktop-small: 1000px, 'no-query' '.no-mediaqueries';
$breakpoint-desktop: 1180px;
