@include breakpoint-set('no query fallbacks', true);

$breakpoint-mobile: 480px;
$breakpoint-tablet: 720px;
$breakpoint-desktop-small: 930px, 'no-query' '.no-mediaqueries';
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1800px;
