@mixin font-reset() {
	font-size: 16px;
	line-height: 1.4em;
}

@mixin link($primary-color: $orange, $secondary-color: $blue) {
	text-decoration: none;
	@if $primary-color == $blue {
		$secondary-color: $orange;
	}
	@else if $primary-color == $lightgray-dark {
		$secondary-color: $orange;
	}
	&:link {
		color: $primary-color;
		border-color: $primary-color;
	}
	&:visited {
		color: $primary-color;
		border-color: $primary-color;
	}
	&:hover {
		color: $secondary-color;
		border-color: $secondary-color;
	}
	&:active {
		color: $secondary-color;
		border-color: $secondary-color;
	}
}

@mixin button() {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	font-family: $type-sans;
	text-transform: uppercase;
	padding: 4px;
}
