@mixin link($primary-color: $orange, $secondary-color: $indigo, $border: true) {
    color: $primary-color;
    text-decoration: none;
    $border-primary-color: transparent;
    $border-secondary-color: transparent;
    @if $border {
        border-color: $primary-color;
        $border-primary-color: $primary-color;
        $border-secondary-color: $secondary-color;
    }
    @if $primary-color == $indigo and $secondary-color == $indigo {
        $secondary-color: $orange;
    }
    &:link {
        color: $primary-color;
        border-color: $border-primary-color;
    }
    &:visited {
        color: $primary-color;
        border-color: $border-primary-color;
    }
    &:hover {
        color: $secondary-color;
        border-color: $border-secondary-color;
    }
    &:active {
        color: $secondary-color;
        border-color: $border-secondary-color;
    }
}

@mixin button() {
    text-align: center;
    border: 1px solid transparent;
    font-family: $type-sans;
    font-size: 16px;
    line-height: 1em;
    text-transform: uppercase;
    padding: 14px 20px 10px;
    background-color: transparent;
    border-radius: 2px;
}

@mixin button-background($text-primary-color: $white, $text-secondary-color: $offwhite, $background-primary-color: $orange, $background-secondary-color: $darkorange) {
    color: $text-primary-color;
    background-color: $background-primary-color;
    &:hover, &:active {
        color: $text-secondary-color;
        background-color: $background-secondary-color;
    }
}

@mixin placeholder($color: $orange, $focus-color: $indigo) {
    &::-webkit-input-placeholder {
       color: $color;
       opacity: 1;
    }

    &:-moz-placeholder {
       color: $color;
       opacity: 1;
    }

    &::-moz-placeholder {
       color: $color;
       opacity: 1;
    }

    &:-ms-input-placeholder {
       color: $color;
       opacity: 1;
    }
    &:focus {
        &::-webkit-input-placeholder {
           color: $focus-color;
        }

        &:-moz-placeholder {
           color: $focus-color;
        }

        &::-moz-placeholder {
           color: $focus-color;
        }

        &:-ms-input-placeholder {
           color: $focus-color;
        }
    }
}

@mixin mask($color: $indigo, $alpha: .6) {
    background-color: rgba($color, $alpha);
}

@mixin icon($size: 16px) {
    width: $size;
    height: $size;
    font-size: $size;
    line-height: $size;
}

// This mixin sets margins of all children consistently, with the first and last elements flush externally
@mixin child-margins($margin: 20px) {
    &> * {
        margin: $margin 0;
    }
    &> .sentinel {
        margin: ($margin / -4) 0;
    }
    &> .first {
        margin: 0 0 $margin;
        &.sentinel {
            margin: 0 0 ($margin / -4);
        }
    }
    &> .last {
        margin: $margin 0 0;
        &.sentinel {
            margin: ($margin / -4) 0 0;
        }
    }
    &> .first.last {
        margin: 0;
        &.sentinel {
            margin: ($margin / -4) 0;
        }
    }
}

@mixin sentinel-margins($margin: 20px) {
    $sentinel-margin: ($margin / -4);
    margin: $sentinel-margin 0;
    &.first {
        margin: 0 0 $sentinel-margin;
    }
    &.last {
        margin: $sentinel-margin 0 0;
    }
    &.first.last {
        margin: $sentinel-margin 0;
    }
}
