$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sentinel: 'Sentinel A', 'Sentinel B', Georgia, serif;
$futura: 'Futura W01 Bold', Arial, sans-serif;
$percocons: 'Percocons';
$type-base: $helvetica;
$type-serif: $sentinel;
$type-sans: $futura;
$type-icons: $percocons;
