.ceres {
    margin: 24px 0;
    .copy-container {
        margin: 20px auto 0;
    }
    .copy {
        @include child-margins(20px);
        p {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(24px, 32px);
        }
        .hanging-quote {
            display: inline-block;
            text-indent: -.4em;
        }
    }
    .image-container {
        margin: 0 auto 20px;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .rule-container {
        @include break;
    }
    hr {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px auto;
        .copy-container {
            @include span(10 of 12 last);
        }
        .copy {
            @include child-margins(40px);
            margin: 20px 0 0;
            p {
                @include sentinel-margins(40px);
            }
        }
        .image-container {
            @include span(2 of 12);
        }
        hr {
            margin: 40px 0;
        }
    }
    @include breakpoint($breakpoint-desktop) {
        max-width: 1280px;
    }
}
