.ceres {
    margin: 24px 0;
    .copy-container {
        margin: 20px auto 0;
    }
    .copy {
        @include child-margins(20px);
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
        .quote {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(24px, 32px);
        }
        .hanging-quote {
            display: inline-block;
            text-indent: -.4em;
        }
    }
    .image-container {
        margin: 0 auto 20px;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .rule-container hr {
        margin: 20px 0;
    }
    @include breakpoint($breakpoint-tablet) {
        margin: 40px auto;
        .card-container {
            max-width: 860px;
            margin: 0 auto;
            line-height: 0;
        }
        .card {
            display: inline-block;
            display: flex;
            align-items: center;
            width: 100%;
        }
        .copy-container {
            margin: 0 auto;
            @include span(4 of 6 last);
            display: inline-block;
            display: flex;
        }
        .copy {
            @include child-margins(20px);
            p {
                @include type-style(14px, 24px);
            }
            .quote {
                @include sentinel-margins(20px);
                @include type-style(20px, 28px);
            }
        }
        .image-container {
            margin: 0 auto;
            @include span(2 of 6);
        }
        .rule-container hr {
            margin: 40px 0;
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px auto;
        .copy-container {
            @include span(8 of 12 last);
        }
        .image-container {
            @include span(3 of 12);
        }
    }
    @include breakpoint($breakpoint-desktop) {
        .card-container {
            max-width: 1000px;
        }
        .copy {
             @include child-margins(40px);
            p {
                @include type-style(16px, 28px);
            }
            .quote {
                @include sentinel-margins(40px);
                @include type-style(24px, 32px);
            }
        }
    }
}
