.earth-container .segment {
    margin: 0 auto;
    padding: 80px 0 40px;
}

.earth {
    max-width: 1420px;
    float: none;
    line-height: 0;
    .section-hed {
        max-width: 830px;
        margin: 0 auto 80px;
        h1, h3, h2 {
            text-align: center;
        }
        .btn {
            display: inline-block;
        }
        &.after {
            margin: 0 auto;
            padding-top: 0;
            @include breakpoint($breakpoint-desktop-small) {
                text-align: center;
            }
            p {
                text-align: left;
            }
        }
    }
    .cards-container {
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: stretch;
    }
    .copy-container {
        display: inline-block;
        width: 100%;
        padding: 24px 24px 48px;
        box-sizing: border-box;
    }
    .copy {
        position: relative;
        width: auto;
        text-align: left;
        @include child-margins(30px);
        h2, h3 {
            font-family: $type-averta;
            font-weight: 500;
            @include type-style(20px, 32px);
        }
        p {
            font-family: $type-averta;
            font-weight: 400;
            @include type-style(16px, 26px);
        }
    }
    .jump {
        @include link($orange, $indigo);
    }
    .image-container {
        display: inline-block;
        width: 100%;
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .card {
        background: $white;
    }

    .card-link {
        display: inline-block;
        display: flex;
        width: 100%;
        position: relative;
        margin: 0 auto 30px;
        @include link(inherit, inherit);
        transition: transform .3s;
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity .3s;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            content: '';
        }
        @include breakpoint($breakpoint-tablet) {
            &:hover {
                transform: scale(1.03);
                transition: transform .1s;
            }
        }
    }

    @include breakpoint($breakpoint-tablet) {
        .card-link {
            width: calc(50% - 15px);
            margin: 0 30px 30px 0;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    @include breakpoint($breakpoint-desktop-small) {
        .card-link {
            width: calc(33.3333% - 27px);
            margin: 0 40px 40px 0;
            &:nth-child(2n) {
                margin-right: 40px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        .copy {
            @include child-margins(20px);

            h2, h3 {
                @include sentinel-margins(20px);
            }
            p {
                @include type-style(15px, 26px);
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        .copy-container {
            padding: 40px 40px 60px;
        }
        .copy {
            @include child-margins(30px);
            h2, h3 {
                @include sentinel-margins(30px);
            }
            p {
                @include type-style(16px, 28px);
            }
        }

    }

    &.type-ii {
        max-width: none;
        @include breakpoint($breakpoint-desktop-large) {
            .card-link {
                width: calc(25% - 45px);
                margin: 0 60px 60px 0;
                &:nth-child(2n) {
                    margin-right: 60px;
                }
                &:nth-child(3n) {
                    margin-right: 60px;
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
                
            }
        }
    }

    &.type-iii {
       .card-link {
            &:hover {
                transform: none;
                transition: none;
            }
            &:after {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
                border: 1px solid $light-gray;
            }
        }
        .copy-container {
            @include breakpoint($breakpoint-desktop) {
                padding: 40px;
            }
        }

        .copy {
            h2 {
                font-family: $type-averta;
                font-weight: 500;
                @include type-style(20px, 32px);
                margin-bottom: 10px;
                @include breakpoint($breakpoint-mobile) {
                    margin-bottom: 20px;
                }
            }
            p {
                font-family: $type-averta;
                font-weight: 400;
                margin: 0;
            }
            .image {
                width: 24px;
                margin: 0 0 20px;
            }

            .highlight {
                font-weight: 700;
                margin-top: 20px;
            }
        }
    }
}
