.jupiter {
    margin: 24px 0;
    // TODO: Jupiter copy is deprecated
    .copy-container {
        display: none;
    }
    .image-container {
        margin: gutter(6) 0 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 60px 0;
    }
}
