.kuiper-belt {
    margin: 24px 0;
    .copy {
        margin: 0 0 24px;
        &:last-child {
            margin: 0;
        }
        &> .first {
            margin: 0 0 20px;
        }
        &> .last {
            margin: 20px 0 0;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(32px, 40px);
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 60px 0;
        .copy-container {
            margin: 0 auto;
            max-width: 800px;
        }
        .copy {
            margin: 0 0 60px;
            @include span(6 of 12);
            &:nth-child(2n) {
                @include span(6 of 12 last);
            }
            &> .first {
                margin: 0 0 40px;
            }
            &> .last {
                margin: 40px 0 0;
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        .copy-container {
            max-width: 1000px;
        }
    }
}
