.container.alt-background {
    background-color: $offwhite-light;
    .segment {
        margin: 0;
        padding: 24px 0;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 60px 0;
        }
    }
    &.gravity .segment {
        padding: 0 0 24px;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 0 0 60px;
        }
    }
}
