.container.alt-background {
    background-color: $offwhite-light;
    .segment {
        margin: 0;
        padding: 24px 0;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 80px 0;
        }
    }
    &.gravity .segment {
        margin: 0;
        padding: 0 0 24px;
        @include breakpoint($breakpoint-desktop-small) {
            margin: 0;
            padding: 0 0 80px;
        }
    }    
}

.container {
    &.white-background {
        background-color: $white;
    }
    &.orange-background {
        background-color: $orange;
    }
    &.light-background {
        background-color: $off-white;
    }
    &.light-gray-background {
        background-color: $light-gray;
    }
    &.gray-background {
        background-color: $gray;
    }
    &.dark-gray-background {
        background-color: $dark-gray;
    }
    &.product-background {
        background-color: $product-gray;
    }
    // Legacy bg colors
    &.dark-background {
        background-color: $offwhite-dark;
    }
    &.mid-background {
        background-color: $offwhite;
    }
    &.indigo-background {
        background-color: $indigo;
    }
}

.container {
    &.dark-gray-background, &.gray-background, &.product-background {
        .btn {
            @include button-background($white, $gray, rgba(0,0,0,0), $white);
            border: 1px solid $white;
            box-shadow: none;
            &:hover {
                border-color: $white;
            }
        }
    }
}

.container.gravity .segment {
    margin: 0 0 24px;
    @include breakpoint($breakpoint-desktop-small) {
        margin: 0 0 80px;
    }
}


