.mars {
    margin: 24px 0;
    .copy-container {
        display: none;
    }
    .images-container {
        display: inline-block;
    }
    .images {
        .image-group {
            @include span(3 of 6);
            &:nth-child(2n) {
                @include span(3 of 6 last);
            }
            &:nth-child(n+3) {
                display: none;
            }
            img:first-of-type {
                margin-top: 0;
            }
        }
        img {
            display: block;
            margin: gutter(3) 0;
            &:last-child {
                margin: gutter(3) 0 0;
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        width: 100%;
        margin: 80px 0;
        .images-container {
            display: inline-block;
        }
        .images {
            .image-group {
                @include span(3 of 12);
                &:nth-child(n+3) {
                    display: block;
                }
                &:nth-child(2n) {
                    @include span(3 of 12);
                }
                &:nth-child(4n) {
                    @include span(3 of 12 last);
                }
            }
            img {
                margin: gutter(3) 0;
                &:last-child {
                    margin: gutter(3) 0 0;
                }
            }
        }
    }
}
