.mercury {
    max-width: 600px;
    margin: 24px auto;
    img {
        display: block;
    }
    hr {
        margin: 60px 0 0;
        padding: 0 0 60px;
    }
    .copy-container {
        max-width: 860px;
        margin: 0 auto;
    }
    .copy {
        @include child-margins(20px);
        .quote {
            @include sentinel-margins(20px);
            color: $darkgray;
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(24px, 32px);
        }
        .hanging-quote {
            display: inline-block;
            text-indent: -.4em;
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px auto;
    }
}
