.mercury {
    margin: 24px 0;
    img {
        display: block;
    }
    hr {
        margin-top: 60px;
        padding-bottom: 60px;
    }
    .copy-container {
        max-width: 860px;
        margin: 0 auto;
    }
    .copy {
        @include child-margins(20px);
        .quote {
            color: $darkgray;
            font-weight: normal;
            font-family: $type-serif;
            @include type-style(24px, 32px);
        }
        .hanging-quote {
            display: inline-block;
            text-indent: -0.4em;
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 60px 0;
    }
    @include breakpoint($breakpoint-desktop-large) {
        .copy-container {
            max-width: 1280px;
        }
        .copy {
            .quote {
                @include type-style(32px, 40px);
            }
        }
    }
}
