.content .container.neptune-container.flush-image-container .segment {
    padding: 0;
}

.neptune-container {
    &.dark-gray-background , &.gray-background, &.product-background, &.orange-background {
        .copy {
            color: $white;
        }
    }
}
.neptune {
    margin: 24px 0;
    .copy-container {
        width: 100%;
        display: inline-block;
    }
    .copy {
        color: $darkgray;
        @include child-margins(20px);
        .label {
            display: none;
        }
        h2, h3 {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(24px, 32px);
        }
        p {
            font-family: $type-averta;
            @include type-style(16px, 28px);
            font-weight: 400;
        }
    }
    .image-container {
        width: 100%;
        margin: 0 0 24px;
    }
    .image {
        margin: 0 0 24px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .btn {
        display: inline-block;
    }
    @include breakpoint($breakpoint-desktop-small) {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 80px 0;
        .copy-container {
            display: inline-block;
            padding: 0;
            width: 35%;
            max-width: 570px;
            margin: 0;
            color: $darkgray;
            text-align: center;
            vertical-align: middle;
            align-self: center;
        }
        .copy {
            max-width: 800px;
            margin: 0 auto;
            float: none;
            text-align: left;
            @include child-margins(30px);
            h2, h3 {
                @include sentinel-margins(30px);
                @include type-style(32px, 40px);
            }
        }
        .image-container {
            display: inline-block;
            margin: 0;
            text-align: center;
            vertical-align: middle;
            width: 40%;
            
        }
        .image {
            margin: 0 auto;
            img {
                width: auto;
                max-height: 600px;
            }
        }
        &.right {
            .copy-container {
                order: 1;
            }
            .image-container {
                order: 2;
            }
        }

    }
    &.flush-image {
        display: flex;
        flex-flow: column;
        @include breakpoint($breakpoint-desktop-small) {
            flex-flow: row;
            padding-bottom: 0;
        }
        .image-container {
            align-self: flex-end;
            margin: 0;
            order: 2;
            @include breakpoint($breakpoint-desktop-small) {
                padding-top: 80px;
                order: 1;
            }
            .image {
                margin: 0 auto;
                text-align: center;
                img {
                    width: auto;
                    max-height: 490px;
                }
            }
        }
        .copy-container {
            order: 1;
            padding: 24px 0;
            @include breakpoint($breakpoint-desktop-small) {
                order: 2;
                padding: 80px 0;
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        max-width: 1600px;
        margin: 80px auto;
        .copy {
            @include child-margins(40px);
            h2, h3 {
                @include sentinel-margins(40px);
            }
        }
    }
}

.neptune-container.alt-background .neptune {
    @include breakpoint($breakpoint-desktop) {
        margin: 0 auto;
    }
}
