.neptune {
    margin: 24px 0;
    .copy-container {
        display: inline-block;
    }
    .copy {
        @include span(full);
        color: $darkgray;
        @include child-margins(20px);
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .image-container {
        @include span(full);
        margin: 0 0 24px;
    }
    .image {
        margin: 0 0 24px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 60px 0;
        // TODO: Figure out balance of having this fallback be 100% and having padding in the container
        width: 100%;
        display: inline-block;
        display: flex;
        .copy-container {
            display: inline-block;
            padding: 0;
            @include span(20 of 36);
            margin: 0;
            align-self: center;
            vertical-align: middle;
            text-align: center;
            color: $darkgray;
        }
        .copy {
            float: none;
            margin: 0 auto;
            text-align: left;
            max-width: 800px;
            @include child-margins(30px);
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .image-container {
            margin: 0;
            display: inline-block;
            @include span(15 of 36 last);
            vertical-align: middle;
            text-align: center;
            img {
                max-height: 600px;
            }
        }
        .image {
            margin: 0 auto;
        }
        &.left {
            .copy-container {
                padding: 0 (span(1 of 36) + (gutter(36) * 2)) 0 0;
                order: 1;
            }
            .image-container {
                order: 2;
            }
        }
        &.right {
            .copy-container {
                padding: 0 0 0 (span(1 of 36) + (gutter(36) * 2));
            }
        }
    }
    @include breakpoint($breakpoint-desktop) {
        margin: 60px auto;
        max-width: 1280px;
        .copy {
            @include child-margins(40px);
        }
    }
}

.neptune-container.alt-background .neptune {
    @include breakpoint($breakpoint-desktop) {
        margin: 0 auto;
    }
}
