.oberon-container {
	background-size: cover;
}
.oberon {
    display: table;
    height: 650px;
    color: $white;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint($breakpoint-mobile) {
        height: 600px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        height: 450px;
    }
    @include breakpoint($breakpoint-desktop) {
        height: 600px;
    }
    &.right .copy {
    	@include breakpoint($breakpoint-desktop-small) {
            float: right;
        }
    }
    &.left {
    	@include breakpoint($breakpoint-desktop-small) {
            float: left;
        }
    }
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    .copy-container {
        @include susy-clearfix;
        width: 100%;
        padding-top: 190px;
        @include breakpoint($breakpoint-desktop-small) {
            padding-top: 0;
        }

    }
    .copy {
        background: $white;
        max-width: 100%;
        padding: 35px 30px;
        float: none;
        box-sizing:border-box;
        @include breakpoint($breakpoint-desktop-small) {
            max-width: 530px;
            margin: 40px 0;
        }
        @include breakpoint($breakpoint-desktop) {
            padding: 70px 30px;
            max-width: 600px;
        }
        .image {
            display: inline-block;
        }
        img {
            max-width: 50%;
            height: auto;
        }
        p {
            font-family: $type-serif;
            font-weight: 300;
            color: $darkgray;
            @include type-style(20px, 28px);
            @include breakpoint($breakpoint-desktop-small) {
                 @include type-style(24px, 32px);
            }
        }
    }
}