.orbit {
    margin: 60px auto;
    h2, h3 {
        margin: 0;
        text-align: center;
        color: $darkgray;
        font-family: $type-serif;
        font-weight: 300;
        @include type-style(40px, 40px);
        text-transform: none;
        @include breakpoint($breakpoint-desktop-small) {
            @include type-style(50px, 50px);
        }
    }
    @include breakpoint($breakpoint-desktop) {
        max-width: 1280px;
    }
}
