.orbit-container {

}

.orbit {
    margin: 24px auto;
    .list-description {
        h2 {
            font-family: $type-averta;
            font-weight: 500;
            @include type-style(22px, 32px);
            margin: 60px 0 20px 0;
            @include breakpoint($breakpoint-desktop-small) {
                 padding-left: 40px;
                 @include type-style(26px, 36px);
            }
        }
        &+.link-list {
            border-top: 1px solid $gray;
        }
        &:first-of-type {
            h2 {
                margin-top: 0;
            }
        }
    }
    .link-list {
        margin: 0;
        padding: 13px 0;
        font-family: $type-averta;
        font-weight: 700;
        @include type-style(18px, 28px);
        border-bottom: 1px solid $gray;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 24px 40px;
        }
        &:first-of-type {
            border-top: 1px solid $gray;
        }
        a {
            @include link($indigo, $orange);
        }
        p {
            margin: 0;
        }
        .link-secondary {
            font-family: $type-averta;
            font-weight: 400;
            @include type-style(18px, 28px);
            @include breakpoint($breakpoint-desktop-small) {
                float: right;
                min-width: 275px;
            }
        }
    }
    .list {
        display: block;
    }

    .jump {
        text-align: center;
        margin-top: 50px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        max-width: 1000px;
        margin: 80px auto;
        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
             p {
                display: block;
                max-width: 740px;
             }
        }
        .copy {
            @include child-margins(60px);
        }
    }
}
