.pluto-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint($breakpoint-desktop-small) {
        &.background-left {
            background-position: right center;
        }
        &.background-right {
            background-position: left center;
        }
        &.background-top {
            background-position: center top;
        }
        &.background-bottom {
            background-position: center bottom;
        }
    }
    &.background-orange {
        background: $orange;
    }
    &.background-indigo {
        background: $indigo;
    }
}

.content .pluto-container.bleed .pluto.bleed {
    max-width: 1600px;
}

.pluto {
    display: table;
    width: 100%;
    max-width: 1600px;
    min-height: 300px;
    margin: 0;
    color: $white;
    text-align: left;
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    .copy-container {
        padding: 0 24px;
    }
    .copy {
        max-width: 790px;
        @include child-margins(20px);
        h2, h3, .highlight {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 500;
            @include type-style(20px, 26px);
        }
        .jump a {
            display: inline-block;
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        text-align: center;
        > div {
            padding: 0 30px;
        }
        .copy-container {
            padding: 0;
        }
        .copy {
            @include child-margins(40px);
            h2, h3, .highlight {
                @include sentinel-margins(40px);
                @include type-style(24px, 32px);
            }
        }
        &.left {
            text-align: left;
            .copy-container {
                @include span(2 of 4 last);
                @include post(2 of 4);
            }
        }
        &.right {
            text-align: right;
            .copy-container {
                @include span(2 of 4 last);
                @include pre(2 of 4);
            }
        }
    }
}
