.pluto-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content .pluto-container.bleed .pluto.bleed {
    max-width: 1600px;
}

.pluto {
    display: table;
    width: 100%;
    max-width: 1600px;
    min-height: 300px;
    margin: 0;
    text-align: left;
    color: $white;
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    .copy-container {
        padding: 0 24px;
    }
    .copy {
        @include child-margins(20px);
        h3 {
            font-family: $type-serif;
            font-weight: 500;
            @include type-style(24px, 32px);
        }
        .jump {
            a {
                display: inline-block;
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        text-align: center;
        > div {
            padding: 0 30px;
        }
        .copy-container {
            padding: 0;
        }
        &.left {
            text-align: left;
            .copy-container {
                @include span(2 of 4 last);
                @include post(2 of 4);
            }
        }
        &.right {
            text-align: right;
            .copy-container {
                @include span(2 of 4 last);
                @include pre(2 of 4);
            }
        }
    }
}
