.content .container.saturn-container.saturn-rings {
    padding: 0;
    .segment {
        margin-bottom: 0;
    }
}

.container.saturn-container.saturn-rings {
    background: $white;

    .image-container {
        padding: 0;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 5px 0 80px;
            margin-top: 300px;
            .image {
                margin-top: -240px;
            }
        }
        
    }

    &.dark-gray-background .image-container {
        background: $dark-gray;
    }
    &.gray-background .image-container {
        background: $gray;
    }
    &.product-background .image-container {
        background: $product-gray;
    }
    &.light-gray-background .image-container {
        background: $light-gray;
    }
    &.light-background .image-container {
        background: $off-white;
    }
    &.orange-background .image-container {
        background: $orange;
    }
}

.content .container.saturn-container + .container.sol-container {
    .segment {
        @include breakpoint($breakpoint-desktop-small) {
            padding: 0 0 80px 0;
        }
    }
}
//TODO: add mercury styling after staturn

.saturn-container {
    &.dark-gray-background , &.gray-background, &.product-background, &.orange-background {
        .copy {
            color: $white;
        }
         .section-hed {
            color: $white;
        }
    }
}
.saturn {
    margin: 24px 0;
    h1 {
        @include type-style(32px, 40px);
    }
    .section-hed {
        p {
            @include type-style(16px, 26px);
        }
    }
    .image-container {
        text-align: center;
        padding: 0 20px;
        max-width: 100%;   
    }
    .image {
        margin: 0 auto;
    }
    .copy-container {
        max-width: 100%;
        margin: 20px auto 0;
    }
    .btn {
        display: inline-block;
    }
    .jump {
        text-align: center;
    }
    .copy {
        @include child-margins(20px);
        h3 {
            font-family: $type-averta;
            font-weight: 700;
            @include type-style(22px, 32px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 26px);
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px 0;
        h1 {
            @include type-style(40px, 48px);
        }
        .image {
            max-width: 930px;
        }
        .copy-container {
            max-width: 830px;
            margin: 40px auto 0;
        }
        .copy {
            @include child-margins(30px);
        }
    }
    @include breakpoint($breakpoint-desktop) {
        h1 {
            @include type-style(48px, 56px);
        }

    }
}
