.sol {
    margin: 24px auto;
    @include breakpoint($breakpoint-desktop-small) {
        margin: 80px auto;
    }
}

.container.alt-background .segment.sol .section-hed {
    margin: 0 auto;
    @include breakpoint($breakpoint-desktop-small) {
        margin: 0 auto;
    }
}
