.supernova-container {
    margin: 0;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint($breakpoint-desktop-small) {
        &.background-left {
            background-position: right center;
        }
        &.background-right {
            background-position: left center;
        }
        &.background-top {
            background-position: center top;
        }
        &.background-bottom {
            background-position: center bottom;
        }
    }
    &.background-orange {
        background: $orange;
    }
}

.supernova {
    display: table;
    height: 420px;
    color: $white;
    @include breakpoint($breakpoint-desktop) {
        position: relative;
        height: 600px;
    }
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    .copy {
        max-width: 800px;
        @include child-margins(20px);
        h1 {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 300;
            @include type-style(36px, 40px);
            color: $white;
        }
        p {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 500;
            @include type-style(18px, 24px);
        }
        .jump a {
            display: inline-block;
        }
    }
    @include breakpoint($breakpoint-tablet) {
        .copy p {
            @include type-style(24px, 32px);
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        .copy-container {
            padding: 0 24px;
            max-width: 1600px;
            margin: 0 auto;
        }
        .copy {
            @include child-margins(40px);
            h1 {
                @include type-style(50px, 60px);
                @include sentinel-margins(40px);
            }
            p {
                @include sentinel-margins(40px);
            }
        }
        &.left {
            width: 100%;
            text-align: left;
            .copy {
                max-width: 575px;
            }
        }
        &.right {
            width: 100%;
            text-align: left;
            .copy {
                float: right;
                max-width: 575px;
            }
        }
    }
}

.supernova.bleed > div {
    padding: 0 24px;
    @include breakpoint($breakpoint-desktop-small) {
        padding: 0;
    }
}


// TODO: Deprecate type-ii
.supernova-container.type-ii {
    background: $orange;
    @include breakpoint($breakpoint-desktop-small) {
        .supernova {
            width: 100%;
            text-align: left;
            .copy-container {
                padding: 0 24px;
            }
        }
    }
}

.supernova-container.type-iii {
    .supernova {
        height: auto;
        min-height: 420px;
    }
    .copy {
        @include child-margins(20px);
        &> .jump.last {
            margin: 20px 0 0;
        }
        h1 {
            text-align: left;
            @include type-style(36px, 40px);
        }
        p, .hero-subhed {
            color: $white;
            font-family: $type-serif;
            font-weight: 300;
            text-align: left;
            @include type-style(20px, 28px);
        }
        .jump {
            text-align: left;
        }
        .modal-link {
            display: inline-block;
        }
        .btn {
            @include link($white, $white);
        }
    }
    .form-modal .supernova-type-iii-modal {
        display: inline-block;
        padding: 24px 24px 0;
    }
    @include breakpoint($breakpoint-tablet) {
        .copy {
            h1 {
                @include type-style(50px, 60px);
            }
            p, .hero-subhed {
                @include type-style(36px, 40px);
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        .supernova {
            // TODO: Figure out balance of having this fallback be 100% and have padding in the container
            width: 100%;
            max-width: 1280px;
            min-height: 600px;
            display: inline-block;
            display: flex;
        }
        .copy-container {
            display: inline-block;
            align-self: center;
            vertical-align: middle;
            color: $darkgray;
            @include span(19 of 36);
            padding: 0 0 0  (span(1 of 36) + (gutter(36) * 2));
            margin: 0;
            text-align: center;
            order: 1;
        }
        .copy {
            .modal-link {
                display: none;
            }
            &> .jump.last {
                display: none;
            }
        }
        .form-container {
            display: inline-block;
            align-self: center;
            vertical-align: middle;
            @include span(15 of 36 last);
            padding: 0 0 0 (span(1 of 36) + (gutter(36) * 2));
            margin: 0;
            float: none;
            order: 2;
            form {
                width: 290px;
                input, button, select {
                    margin: 0 auto;
                    width: 290px;
                    margin: 0 0 13px;
                    padding: 15px 24px 13px;
                    @include type-style(13px, 13px);
                }
                input[type='checkbox'] {
                    width: auto;
                }
                button {
                    @include button-background($white, $white, $orange, $darkorange);
                    font-size: 16px;
                    padding: 16px 0 11px;

                }
                select {
                    padding: 18px 2em 16px 24px;
                }

                .mktoLogicalField {
                    margin: 0 0 13px;
                    input {
                        display: inline;
                        width: auto;
                        margin: 6px 6px 6px 0;
                    }
                    label {
                        display: inline-block;
                        margin: 5px 0;
                    }
                }
            }
        }
        .modal-container.desktop-show {
            display: block;
            background: transparent;
            .modal-copy {
                margin: 0 auto;
            }
        }
        .modal-title, .modal-close {
            display: none;
        }
    }
}

.supernova-container.type-iii .segment.supernova {
    @include breakpoint($breakpoint-desktop) {
        max-width: 1280px;
    }
}

.supernova-container.type-iii.kepler-form {
    .copy {
        p {
            @include sentinel-margins(20px);
            font-family: $type-serif;
            font-weight: 500;
            @include type-style(18px, 24px);
            @include breakpoint($breakpoint-tablet) {
                @include type-style(24px, 32px);
            }
            @include breakpoint($breakpoint-desktop-small) {
                @include sentinel-margins(40px);
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        margin: 0 0 160px;
        .form-modal .supernova-type-iii-modal {
            position: relative;
            top: 100px;
            min-width: 370px;
            padding: 0;
            background: $white;
            box-shadow: 1px 1px 4px 1px rgba($black, .2);
            &:before {
                display: block;
                width: 100%;
                height: 5px;
                background: $orange;
                content: "";
            }

            .modal-description {
                max-width: 290px;
                margin: 40px 40px 32px;
                text-align: left;
                color: $orange;
                font-family: $type-serif;
                font-weight: 500;
                @include type-style(24px, 32px);
            }
            .modal-content {
                margin: 0 0 40px;
            }
            .modal-content .form {
                margin: 0 40px;
            }
        }

        .form-container {
            form {
                input, select {
                    border: 1px solid $lightgray;
                    margin: 0 0 2px;
                    padding: 16px 20px 13px;
                }
                select {
                    padding: 19px 20px 16px
                }
                button {
                    margin: 20px 0 0;
                    font-size: 16px;
                    padding: 16px 0 11px;
                }
                .mktoLogicalField {
                    margin: 0;
                    input {
                        display: inline;
                        width: auto;
                        margin: 7px 6px 6px 0;
                    }
                    label {
                        display: inline-block;
                        margin: 5px 0;
                        color: $orange;
                    }
                }
            }
        }
    }
}
