.supernova-container {
    margin: 0;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-title {
        @include type-style-serif-large;
        max-width: 800px;
    }
    p {
        font-family: $type-serif;
        font-weight: 500;
        @include type-style(18px, 24px);
        @include breakpoint($breakpoint-tablet) {
            max-width: 800px;
            @include type-style(24px, 32px);
        }
    }
    .hero-request-demo {
        margin: 40px 0 0;
    }

    .first {
        margin: 0 0 20px;
    }
    .last {
        margin: 45px 0 0;
    }
}

.supernova-container.copy-alt {
    text-align: left;
    .segment.hero {
        display: block;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }
    .hero > div {
        display: block;
        padding: 60px 0;
        @include breakpoint($breakpoint-desktop-small) {
            padding: 160px 0;
        }
    }
    h1 {
        text-align: left;
        @include breakpoint($breakpoint-tablet) {
            max-width: 800px;
            @include type-style(50px, 50px);
        }
    }
    p {
        font-family: $type-serif;
        font-weight: 300;
        text-align: left;
        @include type-style(20px, 28px);
        @include breakpoint($breakpoint-tablet) {
            max-width: 800px;
            @include type-style(32px, 40px);
        }
    }

    .hero-title, p {
        max-width: 600px;
    }
}

.supernova-container.copy-right {
    .hero > div {
        float: right;
    }
}

// TODO: Don't know if we need any more than these for positioning yet, should add case by case basis like "left top" so the image scales a certain way

.supernova-container.image-left {
    background-position: left center;
}

.supernova-container.image-right {
    background-position: right center;
}

.supernova-container.type-ii {
    background: $orange;
}

.supernova-container.type-iii {
    .supernova {
        height: auto;
        min-height: 420px;
    }
    .copy {
        @include child-margins(20px);
        &> .jump.last {
            margin: 20px 0 0;
        }
        h1 {
            text-align: left;
            @include type-style(36px, 40px);
        }
        p, .hero-subhed {
            font-family: $type-serif;
            font-weight: 300;
            text-align: left;
            @include type-style(20px, 28px);
            color: $white;
        }
        .jump {
            text-align: left;
        }
        .modal-link {
            display: inline-block;
        }
        .btn {
            @include link($white, $white);
        }
    }
    .form-modal .supernova-type-iii-modal {
        display: inline-block;
        padding: 24px 24px 0;
    }
    @include breakpoint($breakpoint-tablet) {
        .copy {
            h1 {
                @include type-style(50px, 50px);
            }
            p, .hero-subhed {
                @include type-style(32px, 40px);
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        .supernova {
            // TODO: Figure out balance of having this fallback be 100% and have padding in the container
            width: 100%;
            max-width: 1280px;
            min-height: 600px;
            display: inline-block;
            display: flex;
        }
        .copy-container {
            display: inline-block;
            align-self: center;
            vertical-align: middle;
            color: $darkgray;
            @include span(19 of 36);
            padding: 0 0 0  (span(1 of 36) + (gutter(36) * 2));
            margin: 0;
            text-align: center;
            order: 1;
        }
        .copy {
            .modal-link {
                display: none;
            }
            &> .jump.last {
                display: none;
            }
        }
        .form-container {
            display: inline-block;
            align-self: center;
            vertical-align: middle;
            @include span(15 of 36 last);
            padding: 0 0 0 (span(1 of 36) + (gutter(36) * 2));
            margin: 0;
            float: none;
            order: 2;
            form {
                width: 290px;
                input, button, select {
                    margin: 0 auto;
                    width: 290px;
                    margin: 0 0 13px;
                    padding: 15px 24px;
                    @include type-style(13px, 13px);
                }
                input[type='checkbox'] {
                    width: auto;
                }
                button {
                    @include button-background($white, $white, $orange, $darkorange);
                }
                select {
                    padding: 15px 2em 15px 24px;
                }

                .mktoLogicalField {
                    margin: 0 0 13px;
                    input {
                        display: inline;
                        width: auto;
                        margin: 6px 6px 6px 0;
                    }
                    label {
                        display: inline-block;
                        margin: 5px 0;
                    }
                }
            }
        }
        .modal-container.desktop-show {
            display: block;
            background: transparent;
            .modal-copy {
                margin: 0 auto;
            }
        }
        .modal-title, .modal-close {
            display: none;
        }
    }
}

.supernova-container.type-iii .segment.supernova {
    @include breakpoint($breakpoint-desktop) {
        max-width: 1280px;
    }
}

.supernova-container.type-iii.kepler-form {
    @include breakpoint($breakpoint-desktop-small) {
        margin: 0 0 160px;
        .form-modal .supernova-type-iii-modal {
            background: $white;
            position: relative;
            top: 100px;
            padding: 0;
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);

            &:before {
                content: "";
                display: block;
                height: 5px;
                width: 100%;
                background: $orange;
            }

            .form-title {
                max-width: 290px;
                margin: 40px 40px 32px;
                text-align: left;
                color: $orange;
                font-family: $type-serif;
                font-weight: 500;
                @include type-style(24px, 32px);
            }
            .modal-content {
                margin: 0 0 40px;
            }
            .modal-content .form {
                margin: 0 40px;
            }
        }

        .form-container {
            form {
                input, select {
                    border: 1px solid $lightgray;
                    margin: 0 0 2px;
                    padding: 15px 20px;
                }
                button {
                    margin: 20px 0 0;
                    font-size: 16px;
                    padding: 16px 0 11px;
                }
            }
        }
    }
}
