.titan-container {
    &.background-indigo {
        background: $indigo;
        .section-hed {
            color: $white;
        }
        .copy {
            color: $white;
        }
    }
}
.titan {
    .card-container {
        @include susy-clearfix;
        max-width: 1420px;
        margin: 0 auto;
    }

    .card-link {
        @include span(full);
        margin-bottom: 24px;
        @include breakpoint($breakpoint-mobile) {
            @include span(4 of 8);
            &:nth-child(2n) {
                @include span(4 of 8 last);
            }
        }
        @include breakpoint($breakpoint-desktop-small) {
            @include span(2 of 8);
            &:nth-child(2n) {
                @include span(2 of 8);
            }
            &:last-of-type {
                @include span(2 of 8 last);
            }
        }
        &:hover {
            .image img {
                transform: scale(1.1);
                transition: transform .4s;
            }
            .jump:after {
                width: 100%;
                transition: width .3s;
            }
        }
    }

    .copy {
        color: $midgray-dark;
        p {
            font-family: $type-serif;
            @include type-style(20px, 28px);
            @include breakpoint($breakpoint-tablet) {
                @include type-style(24px, 32px);
            }
        }
        .jump {
            color: $orange;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -6px;
                height: 1px;
                width: 100%;
                background: $orange;
                transition: width .3s;
            }
            @include breakpoint($breakpoint-mobile) {
                &:after {
                    width: 0;
                }
            }
        }
    }

    .image {
        overflow: hidden;
        width: 100%;
        img {
            transition: .7s;
        }
    }
}