.content .container.uranus-container {
    .segment {
        @include breakpoint($breakpoint-desktop-small) {
            padding: 40px 0;
        }
    }
}

.uranus-container {
    &.dark-gray-background , &.gray-background {
        .copy {
            color: $white;
        }
        
    }

    &.dark-gray-background {
        .uranus.border {
            border-color: $gray;
        }
    }
    &.gray-background {
        .uranus.border {
            border-color: $light-gray;
        }
    }
}

.uranus {
    margin: 24px 0;
    &.border {
        border: 1px solid $dark-gray;
        border-width: 1px 0 0 0;
    }
    .copy-container {
        display: inline-block;
        text-align: center;
    }
    .copy {
        @include span(full);
        color: $darkgray;
        text-align: left;
        @include child-margins(15px);
        h2, h3 {
            font-family: $type-averta;
            font-weight: 700;
            @include type-style(24px, 34px);
        }
        p {
            font-family: $type-averta;
            @include type-style(18px, 28px);
        }
    }
    .image {
        width: 100%;
        margin: 0 0 24px;
    }
    .btn {
        display: inline-block;
    }
    @include breakpoint($breakpoint-desktop-small) {
        // TODO: Figure out balance of having this fallback be 100% and have padding in the container
        display: inline-block;
        display: flex;
        width: 100%;
        margin: 80px 0;
        .copy-container {
            display: inline-block;
            align-self: center;
            width: auto;
            margin: 0;
            color: $darkgray;
            text-align: center;
            vertical-align: middle;
        }
        .copy {
            max-width: 800px;
            text-align: left;
            @include child-margins(25px);
            h2, h3 {
                @include type-style(24px, 34px);
            }
            p.single {
                @include type-style(22px, 32px);
            }
        }
        .image-container {
            display: inline-block;
            width: 88%;
            vertical-align: middle;
        }
        .image {
            margin: 0;
        }
        &.left {
            .copy-container {
                order: 1;
                padding: 0 (span(1 of 36) + (gutter(36) * 2)) 0 0;
            }
            .image-container {
                order: 2;
            }
        }
        &.right {
            .copy-container {
                order: 2;
                padding: 0 0 0 (span(1 of 36) + (gutter(36) * 2));
            }
            .image-container {
                order: 1;
            }
        }
    }
}
