.venus-container {
    position: relative;
    overflow: hidden;
    &.gray-background, &.product-background {
        h1 {
            color: $white;
        }
    }
}

.venus {
    text-align: center;
    .copy {
        text-align: center;
        h1 {
            @include type-style(28px, 40px);
            margin: 40px 0;
            @include breakpoint($breakpoint-mobile) {
                @include type-style(32px, 44px);
            }
            @include breakpoint($breakpoint-tablet) {
                @include type-style(36px, 48px);
            }
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint($breakpoint-desktop-small) {
            flex-wrap: nowrap;
        }
        > div {
            max-width: 136px;
            @include breakpoint($breakpoint-mobile) {
                max-width: 216px;
            }

            @include breakpoint($breakpoint-tablet) {
                max-width: 224px;
            }
            @include breakpoint($breakpoint-desktop-small) {
                max-width: none;
            }
        }
    }
    .jump {
        padding-bottom: 30px;
    }

    .btn {
        display: inline-block;
        margin: 40px 0;
    }
}