.container.alt-background {
    background-color: $offwhite-light;
    .segment {
        margin: 0;
        padding: 60px 0;
        // TODO: Likely need to set 24px as well for mobie, 30px for desktop
    }
}

.orbit {
    margin: 60px 0;
    h2 {
        margin: 0;
        text-align: center;
        color: $darkgray;
        font-family: $type-serif;
        font-weight: normal;
        @include type-style(40px, 40px);
        text-transform: none;
        @include breakpoint($breakpoint-desktop-small) {
            @include type-style(50px, 50px);
        }
    }
}

.uranus {
    margin: 24px 0;
    .copy-container {
        text-align: center;
        display: inline-block;
    }
    .copy {
        @include span(full);
        color: $darkgray;
        text-align: left;
        &> * {
            margin: 20px 0;
        }
        &> .first {
            margin: 0 0 20px;
        }
        &> .last {
            margin: 20px 0 0;
        }
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .image {
        @include span(full last);
        margin: 0 0 24px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        // TODO: Figure out balance of having this fallback be 100% and having padding in the container
        width: 100%;
        margin: 60px 0;
        display: inline-block;
        display: flex;
        .copy-container {
            display: inline-block;
            align-self: center;
            vertical-align: middle;
            color: $darkgray;
            @include span(5 of 12);
            margin: 0;
            text-align: center;
        }
        .copy {
            text-align: left;
            max-width: 800px;
            &> * {
                margin: 40px 0;
            }
            &> .first {
                margin: 40px 0 0;
            }
            &> .last {
                margin: 0 0 40px;
            }
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .image-container {
            display: inline-block;
            vertical-align: middle;
            @include span(7 of 12 last);
            float: none;
        }
        .image {
            margin: 0;
        }
        &.left {
            .copy-container {
                padding: 0 gutter(12) 0 0;
                order: 1;
            }
            .image-container {
                order: 2;
            }
        }
        &.right {
            .copy-container {
                padding: 0 0 0 gutter(12);
                order: 2;
            }
            .image-container {
                order: 1;
            }
        }
    }
}

.asterism {
    margin: 60px 0;
    .copy-container {
        color: $darkgray;
        margin: 0 0 24px;
    }
    .copy {
        &> * {
            margin: 20px 0;
        }
        &> .first {
            margin: 0 0 20px;
        }
        &> .last {
            margin: 20px 0 0;
        }
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            text-align: left;
            text-transform: none;
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .images-container {
        display: inline-block;
    }
    .images {
        img {
            @include span(3 of 6);
            &:nth-child(2n) {
                @include span(3 of 6 last);
            }
            &:nth-child(n+3) {
                margin-top: gutter(6);
            }
            &:nth-child(n+5) {
                display: none;
            }
        }
    }
    @include breakpoint($breakpoint-tablet) {
        .images {
            img {
                @include span(3 of 12);
                &:nth-child(2n) {
                    @include span(3 of 12);
                }
                &:nth-child(4n) {
                    @include span(3 of 12 last);
                }
                &:nth-child(n+3) {
                    margin-top: 0;
                }
                &:nth-child(n+5) {
                    display: block;
                    margin-top: gutter(12);
                }
                &:nth-child(n+9) {
                    display: none;
                }
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        display: inline-block;
        @include span(full last);
        .copy-container {
            @include span(6 of 12 last);
            @include post(6 of 12);
            float: none;
        }
        .copy {
            max-width: 800px;
            &> * {
                margin: 40px 0;
            }
            &> .first {
            margin: 0 0 40px;
            }
            &> .last {
                margin: 40px 0 0;
            }
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .images {
            img {
                @include span(2 of 12);
                &:nth-child(2n) {
                    @include span(2 of 12);
                }
                &:nth-child(4n) {
                    @include span(2 of 12);
                }
                &:nth-child(6n) {
                    @include span(2 of 12 last);
                }
                &:nth-child(n+5) {
                    margin-top: 0;
                }
                &:nth-child(n+7) {
                    margin-top: gutter(12);
                }
                &:nth-child(n+9) {
                    display: block;
                }
                &:nth-child(n+13) {
                    display: none;
                }
            }
        }
    }
    @include breakpoint($breakpoint-desktop-large) {
        .images {
            img {
                @include span(1 of 12);
                &:nth-child(2n) {
                    @include span(1 of 12);
                }
                &:nth-child(4n) {
                    @include span(1 of 12);
                }
                &:nth-child(6n) {
                    @include span(1 of 12);
                }
                &:nth-child(12n) {
                    @include span(1 of 12 last);
                }
                &:nth-child(n+7) {
                    margin-top: 0;
                }
                &:nth-child(n+9) {
                    display: block;
                }
                &:nth-child(n+13) {
                    display: block;
                    margin-top: gutter(12);
                }
                &:nth-child(n+25) {
                    display: none;
                }
            }
        }
    }
}

.jupiter {
    margin: 60px 0;
    .copy-container {
        margin: gutter(6) 0 0;
        background-color: transparent;
        color: $darkgray;
        text-align: left;
    }
    .copy {
        &> * {
            margin: 20px 0;
        }
        &> .first {
            margin: 0 0 20px;
        }
        &> .last {
            margin: 20px 0 0;
        }
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .image-container {
        margin: 0 0 gutter(6);
        img {
            max-height: 1200px;
        }
    }
    .image {
        margin: 0 0 24px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        display: inline-block;
        .copy-container {
            @include span(6 of 12 last);
            @include post(6 of 12);
            float: none;
        }
        .copy {
            max-width: 800px;
            &> * {
                margin: 40px 0;
            }
            &> .first {
            margin: 0 0 40px;
            }
            &> .last {
                margin: 40px 0 0;
            }
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .image-container {
        }
        .image {
            margin: 0;
        }
    }
}

.neptune {
    margin: 60px 0;
    .copy-container {
        display: inline-block;
    }
    .copy {
        @include span(full);
        color: $darkgray;
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .image-container {
        @include span(full last);
        margin: 0 0 24px;
        &.pad-mobile {
            width: auto;
            padding: 0 24px;
        }
    }
    .image {
        margin: 0 0 24px;
    }
    @include breakpoint($breakpoint-desktop-small) {
        // TODO: Figure out balance of having this fallback be 100% and having padding in the container
        width: 100%;
        display: inline-block;
        display: flex;
        .copy-container {
            display: inline-block;
            padding: 0;
            @include span(7 of 12);
            align-self: center;
            vertical-align: middle;
            text-align: center;
            color: $darkgray;
        }
        .copy {
            text-align: left;
            max-width: 800px;
            &> * {
                margin: 40px 0;
            }
            &> .first {
            margin: 0 0 40px;
            }
            &> .last {
                margin: 40px 0 0;
            }
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .image-container, .image-container.pad-mobile {
            display: inline-block;
            @include span(5 of 12 last);
            vertical-align: middle;
            text-align: center;
            img {
                max-height: 600px;
            }
        }
        &.left {
            .copy-container {
                padding: 0 gutter(12) 0 0;
                order: 1;
            }
            .image-container {
                order: 2;
            }
        }
        &.right {
            .copy-container {
                padding: 0 0 0 gutter(12);
            }
        }
    }
}

.mars {
    .copy-container {
        display: inline-block;
    }
    .copy {
        @include span(full);
        color: $darkgray;
        .label {
            font-family: $type-sans;
            font-weight: bold;
            @include type-style(13px, 13px);
            text-transform: uppercase;
        }
        h2, h3 {
            font-family: $type-serif;
            font-weight: normal;
            @include type-style(24px, 24px);
        }
        p {
            font-family: $type-base;
            @include type-style(16px, 28px);
        }
    }
    .images-container {
        display: inline-block;
    }
    .images {
        img {
            @include span(3 of 6);
            &:nth-child(2n) {
                @include span(3 of 6 last);
            }
            &:nth-child(3n), &:nth-child(4n) {
                display: none;
            }
            &:nth-child(n+3) {
                margin-top: gutter(6);
            }
            &:nth-child(n+9) {
                display: none;
            }
        }
    }
    @include breakpoint($breakpoint-desktop-small) {
        width: 100%;
        display: inline-block;
        .copy-container {
            @include span(6 of 12 last);
            @include post(6 of 12);
            float: none;
        }
        .copy {
            text-align: left;
            max-width: 800px;
            &> * {
                margin: 40px 0;
            }
            &> .first {
            margin: 0 0 40px;
            }
            &> .last {
                margin: 40px 0 0;
            }
            h2, h3 {
                @include type-style(32px, 32px);
            }
        }
        .images-container {
            // display: inline-block;
            // @include span(5 of 12 last);
            // vertical-align: middle;
            // text-align: center;
            // img {
            //     max-height: 600px;
            // }
        }
        .images img {
            @include span(3 of 12);
            &:nth-child(2n) {
                @include span(3 of 12);
            }
            &:nth-child(4n) {
                @include span(3 of 12 last);
            }
            &:nth-child(3n), &:nth-child(4n) {
                display: block;
            }
            &:nth-child(n+3) {
                margin-top: 0;
            }
            &:nth-child(n+5) {
                margin-top: gutter(12);
            }
        }
        &.left {
            .copy-container {
                padding: 0 gutter(12) 0 0;
                order: 1;
            }
            .image-container {
                order: 2;
            }
        }
        &.right {
            .copy-container {
                padding: 0 0 0 gutter(12);
            }
        }
    }
}

.no-flexbox .segment .copy-container {
    @include breakpoint($breakpoint-desktop-small) {
        padding: 0 gutter(12) 0 0;
    }
}
