table {
    width: 100%;
    border-collapse: collapse;
    th {
        text-align: center;

    }
    td, th {
        padding: 6px 13px;
        border: 1px solid $lightgray;
    }
    tr {
        background-color: $white;
        &:nth-child(2n) {
            background-color: $offwhite-light;
        }
    }
}
