img {
    max-width: 100%;
}

nav ul {
    padding-left: 0;
    li {
        display: inline-block;
    }
}

i {
    font-style: normal;
}

button, [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer;
}

[disabled] {
    cursor: default;
}
