// ------------------------------------
// Additional reset selectors
// ------------------------------------

img {
	max-width: 100%;
}

nav ul {
	padding-left: 0;
	li {
		display: inline-block;
	}
}

i {
	font-style: normal;
}
